{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
  <div class="container background-dating-relative">
    <div class="background-dating"></div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8" id="dating-form" v-cloak>
        <h2 class="title-dating"> Давай знайомитися!</h2>
        <div class="form-dating-subtitle-input">Оберіть свій Центр із списку:</div>
        <form class="form-dating" method="post">
          <div class="form-dating-wrapper-input">
            <input class="form-dating-search"
                   type="text"
                   placeholder="Почніть вводити назву Центру починаючи з міста"
                   v-model="searchValue">
            <span class="error-form" v-for="err in errors.non_field_errors">[[ err ]]</span>
            <div class="form-dating-box-items">
              <ul class="form-dating-items">
                <li class="form-dating-item"
                    v-for="socService in searchedSocialServices"
                    @click="selectedSocialService=socService; searchedSocialServices=[]"
                >
                  [[ socService.name ]]
                </li>
              </ul>
            </div>
          </div>

          <div class="form-dating-subtitle-input">Введіть дані організації</div>
          <input :class="{'form-dating-input': true, 'alert-border': errors['name']}"
                 type="text"
                 placeholder="Назва громадської організації"
                 v-model="publicService.name">
          <span class="error-form" v-for="err in errors.name">[[ err ]]</span>
          <input :class="{'form-dating-input': true, 'alert-border': errors['phone_number']}"
                 type="text"
                 placeholder="Контактний телефон"
                 v-model="publicService.phone_number">
          <span class="error-form" v-for="err in errors.phone_number">[[ err ]]</span>
          <input :class="{'form-dating-input': true, 'alert-border': errors['address']}"
                 type="text"
                 placeholder="Адреса"
                 v-model="publicService.address">
          <span class="error-form" v-for="err in errors.address">[[ err ]]</span>
          <input :class="{'form-dating-input': true, 'alert-border': errors['website']}"
                 type="text"
                 placeholder="Сайт"
                 v-model="publicService.website">
          <span class="error-form" v-for="err in errors.website">[[ err ]]</span>
          <input :class="{'form-dating-input': true, 'alert-border': errors['contract_number']}"
                 type="text"
                 placeholder="Номер договору"
                 v-model="publicService.contract_number">
          <span class="error-form" v-for="err in errors.contract_number">[[ err ]]</span>

          <div class="form-dating-subtitle-input">Контактні данні співробітника, що контактує з Наставниками<span>(Ви завжди можете змінити цю інформацію)</span></div>
          <input :class="{'form-dating-input': true, 'alert-border': errors['full_name']}"
                 type="text"
                 placeholder="ПIБ"
                 v-model="coordinator.full_name">
          <span class="error-form" v-for="err in errors.full_name">[[ err ]]</span>
          <input :class="{'form-dating-input': true, 'alert-border': errors['coordinator_phone_numbers']}"
                 type="text"
                 placeholder="Контактні телефони (розділити комами)"
                 v-model="coordinator.coordinator_phone_numbers">
          <span class="error-form" v-for="err in errors.coordinator_phone_numbers">[[ err ]]</span>
          <input :class="{'form-dating-input last-input': true, 'alert-border': errors['email']}"
                 type="text"
                 placeholder="Email"
                 v-model="coordinator.email">
          <span class="error-form" v-for="err in errors.email">[[ err ]]</span>
          <input class="form-dating-button" type="button" value="Зберегти" @click="submitForm(true)">
        </form>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'scripts/social_services/dating.js' %}"></script>
{% endblock %}

