{% load static %}

<header class="css-header-log">
  <div class="container">
    <nav class="css-header-wrapp">
      <div class="css-header-logo"><a href="/"><img src="{% static 'img/main-logo.svg' %}" alt=""></a></div>
      <div class="css-header-notification"><a class="header-notification-title" href="question.html">Питання?</a><a
          href=""><i class="fas fa-bell"></i></a>
        <div class="message"><a class="message-link" href=""><i class="fas fa-bell"></i>
          <div class="message-new"><span>25</span></div>
        </a>
          <div class="message-item"><span>У тебе 1 нове повідомлення</span>
            <div class="message-wrapp"><a href="">Читати</a>
              <div class="message-check">
                <input class="css-font" id="box3" type="checkbox" checked="checked">
                <label for="box3">Відмітити<br>прочитаним</label>
              </div>
            </div>
          </div>
        </div>
        <a class="css-header-company" href=""><img src="{% static 'img/css-logo.svg' %}"><span>Особистий кабінет<br>Пирятинського ЦСССДМ</span></a>
      </div>
    </nav>
  </div>
</header>