{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
  <div class="content">
    <section class="css-login">
      <div class="container">
        <div class="css-login-wrapp">
          <h2>Увійти<br>до особистого кабінету</h2>
          <div class="css-login-form">
            <form method="post">
              {% csrf_token %}
              {% render_field form.email placeholder='Email' %}
              {% for error in form.email.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
              {% render_field form.password placeholder='Password' %}
              {% if messages %}
                <ul class="messages" style="list-style-type: none;; margin-top: 20px">
                  {% for message in messages %}
                    <li style="color: red">{{ message }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
              <button type="submit">Увійти</button>
            </form>
            <div class="css-login-line"></div>
            <a href="{% url 'public_services:po_signup_step0' %}">Зареєструватися</a>
            <br>
            <a href="{% url 'social_services:password_reset' %}">Забули свій пароль?</a>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}