{% load static header_tags %}

{% get_public_service user as public_service %}

<header class="css-header-log">
  <div class="container">
    <nav class="css-header-wrapp">
      <div class="css-header-logo">
        <a href="{% url 'public_services:main' %}">
          <img src="{% static 'img/main-logo.svg' %}" alt="">
        </a>
      </div>
      <div class="css-header-notification">
        <a class="header-notification-title" href="question.html">Питання?</a>
        <a href=""><i class="fas fa-bell"></i></a>
        <a class="css-header-company" href="{% url 'public_services:main' %}">
          <span>Особистий кабінет<br>{{ public_service.name }}</span>
        </a>
        <a class="css-header-company" href="{% url 'users:logout' %}">
          Вийти
        </a>
      </div>
    </nav>
  </div>
</header>