{% extends 'base.html' %}
{% load static common %}

{% block content %}
  {% get_mentors_count_str as mentors_count_str %}

  <div class="content">
    <div class="container">
      <section class="css-material gr-o-css-material">
        <div class="css-material-main">
          <div class="css-material-info">
            <div class="css-material-info-wrapp">
              <div class="css-material-link gr-o-css-material-link">
                <a href="{% url 'social_policy:main' %}">Головна</a>
                <a href="{% url 'social_policy:mentors' %}">Наставники</a>
                <a href="{% url 'social_policy:pairs' %}">Пари</a>
                <a href="{% url 'social_policy:public_services' %}">Громадські організації</a>
                <a href="{% url 'social_policy:material' %}">Матеріали</a>
              </div>
              <div class="css-mentor-title gr-o-css-material-title">
                <p>в інтернатних закладах<br>україни перебуває<span> 105 703 дітей</span></p>
                <div class="css counter gr-o gr-o-counter">
                  {% for digit in mentors_count_str %}
                    <div class="counter-numb gr-o-counter-numb">{{ digit }}</div>
                  {% endfor %}
                </div>
                <span>Дітей мають наставників<br>(активно взаємодіють)</span>
              </div>
            </div>
          </div>
          <div class="css-material-img"><img src="{% static 'img/happy-child.png' %}"></div>
        </div>
        <h2>Матеріали для закладів</h2>
        <div class="css-material-wrapp">
          <div class="css-material-left">
            <div class="css-block-one gr-o-css-block-one"><img src="{% static 'img/book.svg' %}">
              <p>Законодавча база</p>
              <p>Методологія</p>
              <p>Договори</p>
              <p>Література</p>
            </div>
          </div>
          <div class="css-material-right">
            <div class="css-material-page">
              {% for material in object_list %}
                {% if not material.category %}
                  <div class="css-material-item gr-o-css-material-item">
                    {% if material.video_link %}
                      <iframe width="640" height="420" src="{{ material.video_link }}" frameborder="0"
                              allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                    {% endif %}
                    <p>{{ material.title }}</p>
                    {% if material.file %}
                      <a href="{{ material.file.url }}" target="_blank" download><img
                          src="{% static 'img/download.svg' %}" alt=""><span>Завантажити</span></a>
                    {% endif %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>

        {% for category in categories %}
          <div class="css-material-wrapp">
            <div class="css-material-left">
              <div class="css-block-two gr-o-css-block-two">
                {% if category.icon %}
                  <img src="{{ category.icon.url }}">
                {% endif %}
                <p>{{ category.title }}</p>
              </div>
            </div>
            <div class="css-material-right">
              {% for material in object_list %}
                {% if material.category == category %}
                  <div class="css-material-video gr-o-css-material-video">
                    {% if material.video_link %}
                      <iframe width="640" height="420" src="{{ material.video_link }}" frameborder="0"
                              allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                    {% endif %}
                    <p>{{ material.title }}</p>
                    {% if material.file %}
                      <a href="{{ material.file.url }}" target="_blank" download><img
                          src="{% static 'img/download.svg' %}" alt=""><span>Завантажити</span></a>
                    {% endif %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endfor %}

      </section>
    </div>
  </div>
{% endblock %}