{% load static %}

<header class="header-log gr-o-header-log">
  <div class="container">
    <nav class="header-log-wrapp">
      <div class="header-logo"><a href="{% url 'social_policy:main' %}"><img src="{% static 'img/logo-purple.svg' %}" alt=""></a></div>
      <div class="header-notification gr-o-header-notification"><a
          class="header-notification-icon gr-o-notification-icon" href=""><i class="fas fa-cog"></i></a><a
          class="header-notification-icon gr-o-notification-icon" href=""><i class="fas fa-bell"></i></a>
        <div class="admin gr-o-admin gr-o-admin-two"><img src="{% static 'img/gerb_ukr.png' %}" alt="">
          <div class="admin-title"><span>Особистий кабінет<br>МСП України</span></div>
        </div>
      </div>
    </nav>
  </div>
</header>