{% load static %}

        <footer class="css-footer-log gr-o-footer-log">
        <div class="container">
          <div class="css-footer-wrapp gr-o-footer-wrapp">
            <div class="css-footer-logo"><img src="{% static 'img/footer-logo.svg' %}" alt=""></div>
            <div class="css-footer-nav">
              <div class="css-footer-nav-item"><a href="">Допомогти<br>наставництву</a></div>
              <div class="css-footer-nav-item"><a href="">Про наставництво</a></div>
            </div><a class="gr-o-footer-btn css-footer-btn" href="">Запропонувати<br> покращення</a>
          </div>
        </div>
        </footer>