{% extends 'social_services/base.html' %}
{% load static %}

{% block content %}
  <div class="content">
    <section class="css-main">
      <div class="container">
        <div class="css-main-page">
          <div class="css-main-link">
            <a href="{% url 'social_services:main' %}">Головна</a>
            <a href="{% url 'social_services:mentors' %}">Наставники</a>
            <a href="{% url 'social_services:pairs' %}">Пари</a>
            <a href="{% url 'social_services:public_services' %}">Громадські організації</a>
            <a href="{% url 'social_services:material' %}">Матеріали</a>
          </div>
          <div class="css-main-video">
            <iframe width="720" height="453" src="{{ main_video.video_link }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
            <p>Звернення уповноваженого Президента України з прав дитини</p>
          </div>
        </div>
      </div>
      <div class="css-main-stat">
        <div class="container">
          <div class="css-main-wrapp">
            <h2>Статистика вашого ЦСССДМ</h2>
            <div>
              <div class="css-main-item">
                <div class="css-main-item_results">
                  <p>{{ licenced }}</p>
                  <div class="css-main-circle"><span>{{ licenced_percentage }}%</span></div>
                </div><span>Наставників<br> отримали висновок</span>
              </div>
              <div class="css-main-item">
                <div class="css-main-item_results">
                  <p>{{ psychologist_met }}</p>
                  <div class="css-main-circle"><span>{{ psychologist_percentage }}%</span></div>
                </div><span>Наставників пройшли<br> консультацію<br> у психолога</span>
              </div>
              <div class="css-main-item">
                <div class="css-main-item_results">
                  <p>{{ infomeeting_made }}</p>
                  <div class="css-main-circle"><span>{{ infomeeting_percentage }}%</span></div>
                </div><span>Наставників<br> пройшли інфо-зустріч</span>
              </div>
              <div class="css-main-item">
                <p>{{ total }}</p><span>Виявили бажання<br> стати наставниками</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}