{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div class="content" id="mentors">
    <div class="container">
      <section class="css-mentor">
        <div class="css-mentor-main">
          <div class="css-mentor-info">
            <div class="css-mentor-info-wrapp">
              <div class="css-mentor-link">
                <a href="{% url 'social_services:main' %}">Головна</a>
                <a href="{% url 'social_services:mentors' %}">Наставники</a>
                <a href="{% url 'social_services:public_services' %}">Громадські організації</a>
                <a href="{% url 'social_services:material' %}">Матеріали</a>
              </div>
              <div class="css-mentor-title">
                <p>в інтернатних закладах<br>україни перебуває<span> 105 703 дітей</span></p>
                <div class="css counter">
                  <div class="counter-numb">0</div>
                  <div class="counter-numb">2</div>
                  <div class="counter-numb">9</div>
                  <div class="counter-numb">0</div>
                </div><span>Дітей мають наставників<br>(активно взаємодіють)</span>
              </div>
            </div>
            <div class="css-mentor-search"><img src="{% static 'img/search.svg' %}">
              <input type="text" placeholder="Почніть вводити дані тут" v-model="searchString">
            </div>
            <div class="css-mentor-add" @click="addMentorModal"><i class="fas fa-plus"></i><span>Додати Наставника</span></div>
          </div>
          <div class="css-mentor-img"><img src="{% static 'img/baby-nice.jpg' %}"></div>
        </div>
        <!-- start edit modal mentor-->
        <div class="social-modal">
          <div class="social-modal-card">
            <div class="social-info-edit">
              <div class="social-card-img-edit">
                <img :src="getImageUrl(extendedMentor.profile_image)" alt="">
              </div>
              <div class="social-card-icon">
                <label class="add-img" for="files">
                  <i class="fas fa-plus"></i>
                </label>
                <input id="files" style="display:none;" type="file" @change="changeProfileImage($event)">
                <a class="delete-img" href="javascript: void(0)" title="Delete image" @click="deleteProfileImage"><i class="fas fa-trash"></i></a>
              </div>
              <div class="social-card-title">
                <h2>Наставник</h2>
                <input class="social-input-name" type="text" placeholder="Ім’я" v-model="extendedMentor.first_name">
                <input class="social-input-surname" type="text" placeholder="Прізвище" v-model="extendedMentor.last_name">
                <span>Дата народження</span>
                <input class="social-input-birth" type="text" placeholder="" v-model="extendedMentor.date_of_birth">
              </div>
              <div class="social-card-edit" @click="submitMentorCard"><i class="fas fa-check"></i></div>
              <div class="social-card-close" ref="closeAddMentorModal"><i class="fas fa-times"></i></div>
            </div>
            <div class="social-card-line"></div>
            <div class="social-card-stat">
              <div class="social-card-wrapp">
                <div>
                  <span>Статус:</span>
                  <select class="triangle-green" v-model="extendedMentor.status">
                    <option v-for="key, value in mentorStatuses"
                            :value="value"
                    >
                      [[ key ]]
                    </option>
                  </select>
                  <span>Телефон:</span>
                  <input type="text" v-model="extendedMentor.phone_number">
                  <span>Email:</span>
                  <input type="text" v-model="extendedMentor.email">
                  <span>Адреса:</span>
                  <input type="text" v-model="extendedMentor.actual_address">
                </div>
                <div>
                  <span>Відповідальний:</span>
                  <select class="triangle-green" v-model="extendedMentor.responsible">
                    <option>ЦССДМ</option>
                    <option v-for="service in publicServices"
                            :value="service.pk"
                    >
                      [[ service.name ]]
                    </option>
                  </select>
                  <span>Ліцензія:</span>
                  <input type="text" v-model="extendedMentor.licence_key">
                  <span>Дата подачі анкети:</span>
                  <input type="text" placeholder="дд.мм.рррр" v-model="extendedMentor.questionnaire_creation_date">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end edit modal mentor-->
        {% include 'social_services/mentors_table.html' %}
      </section>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
    <script>
        const soc_service_id = '{{ user.id }}';
    </script>
    <script src="{% static 'scripts/social_services/mentors.js' %}"></script>
{% endblock %}