{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div class="content" id="public-services">
    <div class="container">
      <section class="css-social">
        <div class="css-social-main">
          <div class="css-social-info">
            <div class="css-social-info-wrapp">
              <div class="css-social-link">
                <a href="{% url 'social_services:main' %}">Головна</a>
                <a href="{% url 'social_services:mentors' %}">Наставники</a>
                <a href="{% url 'social_services:public_services' %}">Громадські організації</a>
                <a href="{% url 'social_services:material' %}">Матеріали</a>
              </div>
              <div class="css-social-title">
                <p>в інтернатних закладах<br>україни перебуває<span> 105 703 дітей</span></p>
                <div class="css counter">
                  <div class="counter-numb">0</div>
                  <div class="counter-numb">2</div>
                  <div class="counter-numb">9</div>
                  <div class="counter-numb">0</div>
                </div><span>Дітей мають наставників<br>(активно взаємодіють)</span>
              </div>
            </div>
            <div class="css-social-search"><img src="{% static 'img/search.svg' %}">
              <input type="text" placeholder="Почніть вводити дані тут">
            </div>
            <div class="css-social-add"><i class="fas fa-plus"></i><span>Додати організацію</span></div>
            <div class="css-slip">
              <div class="css-slip-modal">
                <div class="css-slip-close">×</div>
                <div class="css-slip-main">
                  <div class="css-slip-image"><img src="img/empty-img.png" alt=""></div>
                  <div class="css-slip-icon">
                    <label class="add-img" for="files" title="Add image"><i class="fas fa-plus"></i></label>
                    <input id="files" style="display:none;" type="file">
                    <div class="css-del" title="Delete image"><i class="fas fa-trash"></i></div>
                  </div>
                  <div>
                    <p>Органзація</p>
                    <textarea class="css-slip-input-name" rows="3" placeholder="Назва організації"></textarea><span>Максимальна кількість пар:</span>
                    <input class="css-slip-input-value" type="text">
                  </div>
                </div>
                <div class="css-line-modal"></div>
                <div class="css-slip-choice">
                  <div><span>Статус:</span>
                    <select class="triangle-green">
                      <option>Знаємо про її існування</option>
                      <option>Знаємо про її існування</option>
                      <option>Знаємо про її існування</option>
                    </select><span>Телефон:</span>
                    <input type="text"><span>Email:</span>
                    <input type="text"><span>Адреса:</span>
                    <input type="text"><span>Сайт:</span>
                    <input type="text">
                  </div>
                  <div><span>Передати пару:</span>
                    <select class="triangle-green">
                      <option>Покищо нікого не передавати</option>
                      <option>Покищо нікого не передавати</option>
                      <option>Покищо нікого не передавати</option>
                    </select><span>Передати пару:</span>
                    <select class="triangle-green">
                      <option>Покищо нікого не передавати</option>
                      <option>Покищо нікого не передавати</option>
                      <option>Покищо нікого не передавати</option>
                    </select><span>№ Договору:</span>
                    <input type="text">
                    <button>Зберегти</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="css-social-img"><img src="{% static 'img/babby-sleep.jpg' %}"></div>
        </div>
        <div class="css-table">
          <div class="css-header">
            <div class="css-title-org">Організація<span class="css-sort-mentor"><img src="{% static 'img/a-b.svg' %}"></span></div>
            <div class="css-line"></div>
            <div class="css-title-stat">Статус</div>
            <div class="css-line"></div>
            <div class="css-title-license">Ліцензія ГО</div>
            <div class="css-line"></div>
            <div class="css-title-val">Кількість пар</div>
          </div>
          <div class="css-table-block" v-for="lightPublicService in lightPublicServices">
            <div class="css-block-org">
              <div class="css-block-title" @click="getExtendedPublicServiceData(lightPublicService.pk)">
                [[ lightPublicService.name ]]
                <div class="help-info-org"><span>Переглянути інформацію<br>про організацію.</span></div>
              </div>
              <span class="css-block-phone">(063) 324 43 43</span><span class="css-block-img"><img src="{% static 'img/blue-tel.svg' %}"></span>
            </div>
            <div class="css-block-stat">
              <select class="triangle-green" v-model="lightPublicService.status">
                <option v-for="key, value in publicServiceStatuses"
                        :value="value"
                >
                  [[ key ]]
                </option>
              </select>
            </div>
            <div class="css-block-license"><span>45043</span></div>
            <div class="css-block-val"><span>[[ lightPublicService.pair_count ]]</span></div>
          </div>

          <div class="css-big-card">
            <div class="css-org">
              <div class="css-org-img"><img :src="extendedPublicService.profile_image" alt=""></div>
              <div class="css-org-title">
                <h3>го</h3>
                <p>[[ extendedPublicService.name ]]</p>
                <div class="css-org-title-wrapp">
                  <div>
                    <p>[[ extendedPublicService.max_pair_count ]]</p><span>пар<br>максимально</span>
                  </div>
                  <div>
                    <p>[[ extendedPublicService.pair_count ]]</p><span>пар<br>всього</span>
                  </div>
                </div>
              </div>
              <div class="css-org-line"></div>
              <div class="css-org-info">
                <span>Телефон:</span>
                <p>[[ extendedPublicService.phone_number ]]</p>
                <span>Email:</span>
                <p>[[ extendedPublicService.email ]]</p>
                <span>Адреса:</span>
                <p>[[ extendedPublicService.address ]]</p>
                <span>Сайт:</span>
                <a :href="extendedPublicService.website">[[ extendedPublicService.website ]]</a>
              </div>
              <div class="css-org-mentor"><span>Передати пару:</span>
                <select class="triangle-green">
                  <option>Марченко Марія</option>
                  <option>Марченко Марія</option>
                  <option>Марченко Марія</option>
                </select><span>Передати всі пари інтерната:</span>
                <select class="triangle-green">
                  <option>№32</option>
                  <option>№32</option>
                  <option>№32</option>
                </select>
                <div class="css-org-doc">
                  <div><span>Номер договору:</span>
                    <p>[[ extendedPublicService.contract_number ]]</p>
                  </div>
                  <div><span>Ліцензія:</span>
                    <p>LOT-R 89</p>
                  </div>
                </div>
              </div>
              <div class="css-org-edit"><a href="" title="Edit"><i class="fas fa-pencil-alt"></i></a></div>
            </div>
            <div id="mentors">
              <div class="css-org-search">
                <img src="{% static 'img/search.svg' %}">
                <input type="text" placeholder="Почніть вводити дані тут" v-model="searchString">
              </div>
              {% include 'social_services/mentors_table.html' %}
            </div>
            <Mentors></Mentors>
            <a class="css-org-all" href=""><span>Дивитися всі</span></a>
            <div class="css-info">* Щоб переглянути історію взаємодії наставника та вихованця натисніть на ім’я вихованця в таблиці.</div>
          </div>
        </div>
      </section><a class="css-social-all" href=""><span>Дивитися всі</span></a>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script>
      const soc_service_id = '{{ user.id }}';
  </script>
  <script src="{% static 'scripts/social_services/mentors.js' %}"></script>
  <script src="{% static 'scripts/social_services/public_services.js' %}"></script>
{% endblock %}
