{% load static header_tags soc_service_center_tags %}

{% get_social_service user as social_service %}

<header class="css-header-log">
  <div class="container">
    <nav class="css-header-wrapp">
      <div class="css-header-logo">
        <a href="{% url 'social_services:main' %}">
          <img src="{% static 'img/main-logo.svg' %}" alt="">
        </a>
      </div>
      <div class="css-header-notification">
        <a class="header-notification-title" href="{% url 'social_services:question' %}">Питання?</a>
        <a href=""><i class="fas fa-bell"></i></a>
        <div class="admin">
          <img src="{{ user|get_service_data:'profile_image' }}" alt="">
          <div class="admin-title"><span>Особистий кабінет</span>
            <div class="admin-menu-off">{{ social_service.name }}<i class="fas fa-caret-down"></i>
              <div class="admin-menu-on" style="display: none;">
                <a href="{% url 'users:logout' %}"><i class="fas fa-sign-out-alt"></i>Вихід з акаунта</a>
                <a href="{% url 'social_services:settings' %}"><i class="fas fa-cog"></i>Налаштування профілю</a></div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
