{% extends 'social_services/ssc_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
  {% include 'social_services/ssc_header.html' %}

  <div class="container background-dating-relative">
    <div class="background-dating"></div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8" id="dating-form" v-cloak>
        <h2 class="title-dating"> Давай знайомитися!</h2>
        <div class="form-dating-subtitle-input">Оберіть свій Центр із списку:</div>
        <form class="form-dating" method="post">
          <div class="form-dating-wrapper-input">
            <input class="form-dating-search"
                   type="text"
                   placeholder="Почніть вводити назву Центру починаючи з міста"
                   v-model="searchValue">
            <div class="form-dating-box-items">
              <ul class="form-dating-items">
                <li class="form-dating-item"
                    v-for="socService in searchedSocialServices"
                    @click="selectedSocialService=socService; searchedSocialServices=[]"
                >
                  [[ socService.name ]]
                </li>
              </ul>
            </div>
          </div>
          <div class="form-dating-wrapper-link">
            <a class="link-dating-for-input" href="javascript: void(0)" @click="modalView=true;">Немає вашого Центра?</a>
          </div>
          <div class="form-dating-modal" :style="{'display': modalView ? 'block' : 'none'}" v-if="modalView">
            <span class="form-dating-modal-closed" @click="modalView=false">X</span>
            <div class="form-dating-subtitle-input">Перевірте контактні данні Центра та при необхідності виправте</div>
            <input class="form-dating-input"
                   type="text"
                   placeholder="Назва (включаючи місто)"
                   v-model="baseSocialService.name"
            >
            <span class="error-form" v-for="err in errors.modal.name">[[ err ]]</span>
            <input class="form-dating-input"
                   type="text"
                   placeholder="Місто"
                   v-model="baseSocialService.city"
            >
            <span class="error-form" v-for="err in errors.modal.city">[[ err ]]</span>
            <input class="form-dating-input"
                   type="text"
                   placeholder="Адреса"
                   v-model="baseSocialService.address"
            >
            <span class="error-form" v-for="err in errors.modal.address">[[ err ]]</span>
            <input class="form-dating-input"
                   type="text"
                   placeholder="Контактні телефони (розділити комами)"
                   v-model="baseSocialService.phone_numbers"
            >
            <span class="error-form" v-for="err in errors.modal.phone_numbers">[[ err ]]</span>
            <input class="form-dating-button"
                   type="button"
                   value="Зберегти"
                   @click="submitModal"
            >
          </div>
          <div :class="{'form-dating-modal_background': modalView}"></div>
          <div class="form-dating-subtitle-input">Перевірте контактні данні Центра та при необхідності виправте</div>
          <input :class="{'form-dating-input': true, 'alert-border': errors['city']}"
                 type="text"
                 placeholder="Місто"
                 v-model="selectedSocialService.city">
          <span class="error-form" v-for="err in errors.city">[[ err ]]</span>
          <input :class="{'form-dating-input': true, 'alert-border': errors['address']}"
                 type="text"
                 placeholder="Адреса"
                 v-model="selectedSocialService.address">
          <span class="error-form" v-for="err in errors.address">[[ err ]]</span>
          <input :class="{'form-dating-input last-input': true, 'alert-border': errors['phone_numbers']}"
                 type="text"
                 placeholder="Контактні телефони (розділити комами)"
                 v-model="selectedSocialService.phone_numbers">
          <span class="error-form" v-for="err in errors.phone_numbers">[[ err ]]</span>

          <div class="form-dating-subtitle-input">Контактні данні співробітника, що контактує з Наставниками<span>(Ви завжди можете змінити цю інформацію)</span></div>
          <input :class="{'form-dating-input': true, 'alert-border': errors['full_name']}"
                 type="text"
                 placeholder="ПIБ"
                 v-model="coordinator.full_name">
          <span class="error-form" v-for="err in errors.full_name">[[ err ]]</span>
          <input :class="{'form-dating-input': true, 'alert-border': errors['coordinator_phone_numbers']}"
                 type="text"
                 placeholder="Контактні телефони (розділити комами)"
                 v-model="coordinator.coordinator_phone_numbers">
          <span class="error-form" v-for="err in errors.coordinator_phone_numbers">[[ err ]]</span>
          <input :class="{'form-dating-input last-input': true, 'alert-border': errors['email']}"
                 type="text"
                 placeholder="Email"
                 v-model="coordinator.email">
          <span class="error-form" v-for="err in errors.email">[[ err ]]</span>
          <input class="form-dating-button" type="button" value="Зберегти" @click="submitForm()">
        </form>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'scripts/social_services/dating.js' %}"></script>
{% endblock %}

