{% extends 'social_services/ssc_base.html' %}
{% load static %}
{% load widget_tweaks %}

      {% block content %}
      {% include 'social_services/ssc_header.html' %}

      <div class="content">
        <section class="css-register">
          <div class="container">
            <div class="css-register-wrapp">
              <div class="css-register-content">
                <h3><span>Реєстрація</span><br> Перший крок</h3>
                <div class="css-register-form">
                  <form method="post">
                    {% csrf_token %}
                    {% render_field form.email placeholder="User@gmail.com" %}
                        {% for error in form.email.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    {% render_field form.password1 placeholder="Пароль" %}
                    {% render_field form.password2 placeholder="Підтвердіть Пароль" %}
                        {% for error in form.password2.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    {% render_field form.master_key placeholder="Мастер-ключ" %}
                        {% for error in form.master_key.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    <button type="submit">Далі</button>
                    <div class="css-register-line"></div><a href="video-mentor.html">Забули свій пароль?</a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      {% endblock %}
