{% extends 'social_services/ssc_base.html' %}

      {% block content %}
       {% include 'social_services/ssc_header.html' %}

      <div class="content">
        <div class="container">
          <section class="css-admin">
            <div class="css-admin-main">
              <div class="css-admin-info"><img src="{{ object.profile_image.url }}">
                <div>
                  <h4>{{ object.questionnaire.full_name }}<br></h4><span>Телефон:</span>
                  <p>{{ object.questionnaire.phone_number }}</p><span>Email:</span>
                  <p>{{ object.questionnaire.email }}</p>
                </div>
              </div>
              <div class="css-admin-main-card">
                <h5>Загальні відомості:</h5>
                <div class="css-admin-wrapp">
                  <div><span>Дата народження</span>
                    <p>{{ object.questionnaire.date_of_birth }}</p><span>Адреса фактичного місця проживання:</span>
                    <p>{{ object.questionnaire.actual_address }}</p><span>Адреса реєстрації:</span>
                    <p>{{ object.questionnaire.registration_address }}</p><span>Національність/Громадянство:</span>
                    <p>{{ object.questionnaire.registration_address }}</p>
                  </div>
                  <div><span>Віросповидання:</span>
                    <p>{{ object.questionnaire.religion }}</p><span>Церква яку відвідує:</span>
                    <p>{{ object.questionnaire.local_church_visiting }}</p>
                    <p>{{ object.questionnaire.local_church_visiting_frequency }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="css-admin-line"></div>
            <div class="css-admin-life">
              <div class="css-admin-left">
                <div class="css-admin-card">
                  <h5>Стан здоров’я:</h5>
                  <div class="css-admin-wrapp">
                    <div><span>Я оцінюю свій стан здоров’я як</span>
                      <p>{{ object.questionnaire.health_self_estimation }}</p>
                      <div class="css-admin-wrapp-line">
                        <div><span>Серйозні захворювання:</span>
                          {% if object.questionnaire.serious_diseases %}
                          <p>Так</p>
                          {% else %}
                          <p>Ні</p>
                          {% endif %}
                        </div>
                        <div><span>Я ВІЛ-інфікований</span>
                          {% if object.questionnaire.hiv_infected %}
                          <p>Так</p>
                          {% else %}
                          <p>Ні</p>
                          {% endif %}
                        </div>
                      </div><span>Перебуваю на обліку в:</span>
                      <p>Терапевта<br>{{ object.questionnaire.hospital_data }}</p>
                    </div>
                  </div>
                </div>
                <div class="css-admin-card">
                  <h5>Сімейний стан:</h5>
                  <div class="css-admin-wrapp">
                    <div>
                      <p>{{ object.questionnaire.marital_status }}</p><span>Члени родини:</span>
                      <p>{{ object.questionnaire.home_family_members_data|linebreaksbr }}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="css-admin-right">
                <div class="css-admin-card">
                  <h5>Житлово-побутові умови:</h5>
                  <div class="css-admin-wrapp">
                    <div><span>Місце проживання на цей момент:</span>
                      <p>{{ object.questionnaire.home_type }}</p>
                      <div class="css-admin-wrapp-line">
                        <div><span>Кількість кімнат:</span>
                          <p>{{ object.questionnaire.room_count }}</p>
                        </div>
                        <div><span>К-сть осіб, які проживають в одній кімнаті:</span>
                          <p>{{ object.questionnaire.people_per_room }}</p>
                        </div>
                      </div><span>Інші члени сім’ї, які проживають разом зі мною:</span>
                      <p>{{ object.questionnaire.home_family_members_data|linebreaksbr }}</p><span>Домашні тварини:</span>
                      <p>{{ object.questionnaire.pets_data|linebreaksbr }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="css-admin-line"></div>
            <div class="css-admin-hobby">
              <div class="css-admin-left">
                <div class="css-admin-card">
                  <h5>Інтереси, хобі:</h5>
                  <div class="css-admin-wrapp">
                    <p>{{ object.questionnaire.interests_and_hobbies|linebreaksbr }}</p>
                  </div>
                </div>
                <div class="css-admin-card">
                  <h5>Працевлаштування:</h5>
                  <div class="css-admin-wrapp">
                      <div>
                        {% for job in object.questionnaire.mentorquestionnairejob_set.all %}
                        {% if job.is_current %}
                            <span>Місце роботи на цей момент:</span>
                        {% else %}
                        <span>Місце попередньої роботи:</span>
                        {% endif %}
                      <p>{{ job.organization_name }}, {{ job.date_since }} - {{ job.date_till }}, {{ job.contact_info }}</p>
                        <strong>{{ job.position }}.</strong>
                        <span>Причина звільнення:</span>
                      <p>{{ job.reason_for_leaving }}</p>
                        {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
              <div class="css-admin-right">
                <div class="css-admin-card">
                  <h5>Освіта:</h5>
                  <div class="css-admin-wrapp">
                    <div>
                        {% for education in object.questionnaire.mentorquestionnaireeducation_set.all %}
                        <span>{{ education.education_type }}</span>
                      <p>{{ education.institution }}, {{ educationyear_of_admission }} - {{ education.year_of_graduation }} р., {{ education.degree }}</p>
                        {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="css-admin-card">
                  <h5>Досвід роботи з дітьми:</h5>
                  <div class="css-admin-wrapp">
                    <div>
                        {% for item in object.questionnaire.mentorquestionnairechildrenworkexperience_set.all %}
                        <span>Організація:</span>
                      <p>{{ item.organization_name }}, {{ item.date_since }} - {{ item.date_till }}, {{ item.contact_info }}</p>
                        <strong>{{ item.position }}, {{ item.duties }}, {{ item.children_age_group }} років</strong>
                        {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="css-admin-line"></div>
            <div class="css-admin-description">
              <div class="css-admin-left">
                <div class="css-admin-card">
                  <h5>Чому я хочу стати наставником?</h5>
                  <div class="css-admin-wrapp">
                    <p>{{ object.questionnaire.join_reason|linebreaksbr }}</p>
                  </div>
                </div>
                <div class="css-admin-card">
                  <h5>Я себе охарактеризовую так:</h5>
                  <div class="css-admin-wrapp">
                    <p>{{ object.questionnaire.self_char|linebreaksbr }}</p>
                  </div>
                </div>
                <div class="css-admin-card">
                  <h5>Мої очікування від дитини, з якою я хочу взаємодіяти:</h5>
                  <div class="css-admin-wrapp">
                    <p>{{ object.questionnaire.expectations_from_child|linebreaksbr }}</p>
                  </div>
                </div>
              </div>
              <div class="css-admin-right">
                <div class="css-admin-card">
                  <h5>Якості характеру, особливі знання та навички, які, на мою думку, можуть допомогти становленню та розвитку дитини із закладу?</h5>
                  <div class="css-admin-wrapp">
                    <p>{{ object.questionnaire.helpful_specifics|linebreaksbr }}</p>
                  </div>
                </div>
                <div class="css-admin-card">
                  <h5>Я хочу допомагати дитині-сироті тому що:</h5>
                  <div class="css-admin-wrapp">
                    <p>{{ object.questionnaire.want_to_help_reason|linebreaksbr }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="css-admin-line"></div>
            <div class="css-admin-rest">
              <div>
                <h4>Напрямки наставництва за яким я бажаю допомагати дитині:</h4>
                  {% if object.questionnaire.socialization %}
                <div class="css-card-check">
                  <input class="css-font" id="box3" type="checkbox" checked="checked">
                  <label for="box3">Напрям «Соціалізація»</label>
                </div>
                  {% endif %}
                  {% if object.questionnaire.proforientation %}
                <div class="css-card-check">
                  <input class="css-font" id="box4" type="checkbox" checked="checked">
                  <label for="box4">Напрям «Профорієнтація»</label>
                </div>
                  {% endif %}
              </div>
              <div>
                <h4>Як часто я можу відвідувати дитину в закладі?</h4><span>{{ object.questionnaire.able_to_visit_frequency }}</span>
              </div>
              <div>
                <h4>Чи погоджуюся я взаємодіяти з дитиною, яка має інвалідність?</h4>
                  {% if object.questionnaire.ready_for_child_with_disabilities %}
                  <span>Так</span>
                  {% else %}
                  <span>Ні</span>
                  {% endif %}
              </div>
              <div>
                  {% if object.questionnaire.drink_alcohol %}
                <h4>Зазвичай я вживаю:</h4><span>Алкоголь, {{ object.questionnaire.drink_alcohol_frequency }}</span>
                  {% endif %}
              </div>
              <div>
                  {% if object.questionnaire.drink_alcohol %}
                <h4>Я вживав наркотики</h4><span>{{ object.questionnaire.drug_usage_info }}</span>
                  {% endif %}
              </div>
              <div>
                <h4>Я був засуджений</h4>
                  {% if object.questionnaire.crime_convicted %}
                  <span>Так</span>
                  {% else %}
                  <span>Ні</span>
                  {% endif %}
              </div>
              <div>
                <h4>Я був позбавлений батьківських прав</h4>
                  {% if object.questionnaire.parental_rights_deprived %}
                  <span>Так</span>
                  {% else %}
                  <span>Ні</span>
                  {% endif %}
              </div>
              <div>
                <h4>Я дозволяю використовувати мої фотографії і коментарі, зроблені в процесі моєї участі в програмі, на інформаційних носіях, з метою популяризації ідеї наставництва</h4>
                  {% if object.questionnaire.allow_to_use_personal_data %}
                  <span>Так</span>
                  {% else %}
                  <span>Ні</span>
                  {% endif %}
              </div>
              <div>
                <h4>Я дізнався про програму наставництва через</h4><span>{{ object.questionnaire.program_found_out_place }}</span>
              </div>
              <div>
                <h4>Мені зручніше всього прийти на консультацію з психологом Центру соціальних служб або Партнерської організації в один з днів:</h4><span>{{ object.questionnaire.convenient_meeting_conditions }}</span>
              </div>
            </div>
          </section>
        </div>
      </div>
      {% endblock %}
