{% load static %}

<footer class="footer">
  <div class="container">
    <div class="footer-wrapp">
      <div class="footer-logo"><img src="{% static 'img/footer-logo.png' %}" alt=""></div>
      <div class="footer-nav">
        <div class="footer-nav-item"><a href="">Вхід  для наставників</a><a href="">Допомогти наставництву</a><a href="">Про наставництво</a></div>
        <div class="footer-nav-item"><a href="">ЦСССДМ</a><a href="">ССД</a><a href="">Заклади</a></div>
      </div>
      <div class="footer-btn"><a href="">Допомогти<br> фінансово</a></div>
    </div>
  </div>
</footer>