{% load static %}

<footer class="footer">
  <div class="container">
    <div class="footer-wrapp">
      <div class="footer-logo"><img src="{% static 'img/footer-logo.svg' %}" alt=""></div>
      <div class="footer-nav">
        <div class="footer-nav-item" style="margin-left: -80px"><a href="">Допомогти наставництву</a></div>
        <div class="footer-nav-item"><a href="">Про наставництво</a></div>
      </div>
      <div class="footer-btn"><a href="javascript: void(0)">Запропонувати<br> покращення</a></div>
    </div>
  </div>
</footer>