{% load static %}
{% load mentor_tags %}

<header class="header-log">
  <div class="container">
    <nav class="header-log-wrapp">
      <div class="header-logo">
        <a href="{% url 'mentors:mentor_office' %}">
          <img src="{% static 'img/header-logo.png' %}" alt="">
        </a>
      </div>
      <div class="header-notification"><a class="header-notification-title" href="">Питання?</a><a class="header-notification-icon" href=""><i class="fas fa-bell"></i></a>
        <div class="admin">
          <img src="{{ user|get_mentor_data:'profile_image' }}" alt="">
          <div class="admin-title"><span>Особистий кабінет наставника</span>
            <div class="admin-menu-off">{{ user|get_mentor_data:'first_name' }} {{ user|get_mentor_data:'last_name' }}<i class="fas fa-caret-down"></i>
              <div class="admin-menu-on" style="display: none;">
                <a href="{% url 'mentors:mentor_settings' %}"><i class="fas fa-cog"></i>Налаштування профілю</a>
                <a href="{% url 'users:logout' %}"><i class="fas fa-sign-out-alt"></i>Вихід з акаунта</a>
              </div>
            </div>
          </div>
    </div>
      </div>
    </nav>
  </div>
</header>