{% load static %}
{% load mentor_tags %}

<header class="header-log">
  <div class="container">
    <nav class="header-log-wrapp">
      <div class="header-logo">
        <a href="{% if user.mentor.licenced %}{% url 'mentors:mentor_office' %}{% else %}{% url 'mentors:mentor_roadmap' %}{% endif %}">
          <img src="{% static 'img/header-logo.svg' %}" alt="">
        </a>
      </div>
      <div class="header-notification" id="notifications">
        <a class="header-notification-title" href="{% url 'mentors:question' %}">Питання?</a>
{#        <div class="message"#}
{#             v-if="currentMode === modes.nonEmptySwallowed || currentMode === modes.nonEmptyExpanded"#}
{#        >#}
{#          <a class="message-link" href="javascript: void(0)" @click="changeMode">#}
{#            <i class="fas fa-bell"></i>#}
{#            <div class="message-new"><span>[[ notifications.length ]]</span></div>#}
{#          </a>#}
{#          <div class="message-item" v-if="currentMode === modes.nonEmptyExpanded"#}
{#               v-for="item in notifications"#}
{#          >#}
{#            <template v-if="item.tip_of_the_day">#}
{#              <span>Порада дня</span>#}
{#              [[ item.tip_of_the_day.content ]]#}
{#              <div class="message-wrapp">#}
{#                <div class="message-check" @click="markAsRead(item.tip_of_the_day.id)">#}
{#                  <input class="css-font" :id="item.tip_of_the_day.id" type="checkbox">#}
{#                  <label :for="item.tip_of_the_day.id">Відмітити<br>прочитаним</label>#}
{#                </div>#}
{#              </div>#}
{#            </template>#}
{#          </div>#}
{#        </div>#}
        <a class="header-notification-icon"
           href="javascript: void(0)"
           v-else-if="currentMode === modes.empty"
        >
          <i class="fas fa-bell"></i>
        </a>
        <div class="admin">

          <img src="{{ user|get_mentor_data:'profile_image' }}" alt="">

          <div class="admin-title"><span>Особистий кабінет наставника</span>
            <div class="admin-menu-off">{{ user|get_mentor_data:'first_name' }} {{ user|get_mentor_data:'last_name' }}<i class="fas fa-caret-down"></i>
              <div class="admin-menu-on" style="display: none;">
                {% if user.mentor.licenced %}<a href="{% url 'mentors:mentor_settings' %}"><i class="fas fa-cog"></i>Налаштування профілю</a>{% endif %}
                <a href="{% url 'users:logout' %}"><i class="fas fa-sign-out-alt"></i>Вихід з акаунта</a>
              </div>
            </div>
          </div>
      </div>
      </div>
    </nav>
  </div>
</header>

{% block extra_js %}
  <script src="{% static 'scripts/notifications.js' %}"></script>
{% endblock %}