{% load static mentor_tags %}

<section class="pre-footer-contact">
  <div class="container">
    <div class="pre-footer-wrapp">
      <div class="pre-footer-share">
        <h2>Поділись своєю<br>думкою</h2><span>Поскаржитись на</span>
        <div class="pre-footer-search" id="prefooter-report">
          {% get_social_service_centers as social_service_centers %}
          <select @change="selectSsc($event.target.value)">
            <option value="" hidden="">Центр соц служб</option>
            {% for center in social_service_centers %}
              <option value="{{ center.pk }}"
              >
                {{ center.name }}
              </option>
            {% endfor %}
          </select>
          <button class="complaint" :disabled="!selected_ssc">Надіслати</button>
          <div class="complaint-modal">
            <div class="complaint-card">
              <div class="complaint-close">×</div>
              <p>Поскаржитися</p>
              <div class="complaint-line"></div>
              <textarea rows="6"
                        placeholder="Опишіть суть проблеми"
                        v-model="content"
              ></textarea>
              <button @click="submitReport">Надіслати</button>
            </div>
          </div>
        </div>
        <button class="rate-place">Оцінити заклад</button>
        <div class="rate-place-modal" id="prefooter-assess">
          <div class="rate-place-card">
            <div class="rate-place-close">×</div>
            <p>Оцініть роботу закладу</p>
            <div class="rate-place-line"></div>
            <div class="rating-stars">
              <ul class="mb-0" id="stars">
                <li class="star" v-for="i in 5" :data-value="i" @click="setGrade(i)">
                  <i class="fa fa-star fa-fw"></i>
                </li>
              </ul>
            </div>
            <textarea rows="4"
                      placeholder="Чим заклад допомогає тобі?"
                      v-model="mentor_help_description"
            ></textarea>
            <textarea rows="4"
                      placeholder="Як саме заклад може допомогти вашій парі?"
                      v-model="mentor_pair_help_description"
            ></textarea>
            <button @click="submitAssessment">Надіслати</button>
          </div>
        </div>
      </div>
      <div class="pre-footer-line"></div>
      <div class="pre-footer-mentor">
        <h2>Твій координатор</h2>
        {% get_related_coordinator user as coordinator %}
          <div class="pre-footer-item">
            <div class="pre-footer-img"><img src="{% if coordinator.image %}{{ coordinator.image.url }}{% endif %}"></div>
            <div class="pre-footer-title">
              <div class="pre-footer-title-name">
                <p>{{ coordinator.full_name }}</p><span>Співробітник центра соц служб</span>
              </div>
              {% for number in coordinator.phone_numbers %}
                <div class="pre-footer-title-info"><img src="{% static 'img/sm-phone.svg' %}">
                  <p>{{ number }}</p>
                </div>
              {% endfor %}
              <div class="pre-footer-title-info"><img src="{% static 'img/sm-mail.svg' %}">
                <p>{{ coordinator.email }}</p>
              </div>
            </div>
          </div>
      </div>
      <div class="pre-footer-line"></div>
      <div class="pre-footer-prof">
        <h2>Корисні контакти</h2>
        <div class="pre-footer-prof-wrapp">
          <div class="pre-footer-prof-item">
            <p>ОО “Одна надежда”</p><span>Будь-які питання по<br>наставництву</span>
          </div>
          <div class="pre-footer-prof-info"><img src="{% static 'img/sm-phone.svg' %}">
            <p>0800 - 000 - 00 - 00</p>
          </div>
        </div>
        <div class="pre-footer-prof-wrapp">
          <div class="pre-footer-prof-item">
            <p>Школа-интернат №72</p><span> Интерант в котором учится воспитанник</span>
          </div>
          <div class="pre-footer-prof-info"><img src="{% static 'img/sm-phone.svg' %}">
            <p>044 - 000 - 00 - 00</p>
          </div>
        </div>
        <a href="{% url 'mentors:useful_contacts' %}">Дивитися всі</a>
      </div>
    </div>
  </div>
</section>