{% extends 'base.html' %}

{% block content %}
  <h2>Register Step1</h2>
  <form method="post">
    {% csrf_token %}
    <label for="{{ form.email.auto_id }}">Email:</label>
    <input type="text"
           name="{{ form.email.html_name }}"
           id="{{ form.email.auto_id }}"
           autofocus
           required
    >

    <label for="{{ form.password1.auto_id }}">Password1:</label>
    <input type="password"
           name="{{ form.password1.html_name }}"
           id="{{ form.password1.auto_id }}"
           required
    >
    <label for="{{ form.password2.auto_id }}">Password2:</label>
    <input type="password"
           name="{{ form.password2.html_name }}"
           id="{{ form.password2.auto_id }}"
           required
    >
    <button type="submit">Register</button>
  </form>
{% endblock %}