{% extends 'mentors/../base.html' %}
{% load i18n static %}

{% block content %}
  <div class="content">
    <section class="volunteer">
      <div class="container">
        <div class="volunteer-wellcome"><img src="{% static 'img/baby-book.jpg' %}">
          <div class="volunteer-wellcome-title">
            <h2>Вітаємо на сторінці волонтерів!</h2>
            <p>Якщо ти з якоїсь причини не можеш стати наставником, але бажаєш допомогти Наставництву ще якимось чином,<br><span>в тебе є така можливість:</span></p><a href="#be-volunteer" rel="relativeanchor">Стати волонтером</a>
          </div>
        </div>
      </div>
    </section>
    <section class="volunteer-blue-block">
      <div class="container">
        <div class="volunteer-blue-wrapp">
          <div class="volunteer-blue-title">
            <h3>Хто такий волонтер наставництва?</h3>
            <p>“Це людина, яка будь-яким чином<br>допомагає наставництву, але при цьому<br>може не бути Наставником”</p>
          </div><img src="{% static 'img/question-three.svg' %}">
        </div>
      </div>
    </section>
    <section class="volunteer-stage">
      <div class="container">
        <h2>Наприклад?</h2>
        <div class="volunteer-stage-globe">
          <div class="volunteer-stage-item">
            <h5>популяризація</h5>
            <p>Дітям потрібно, щоб про Наставництво дізнавалося якомога<br> більше людей. Що, ти не маркетолог? Цього і не потрібно,<br> адже зробити перепост в соц. мережі, або просто розповісти<br>  друзям чи колегам про Наставництво може кожен.</p>
          </div>
          <div class="volunteer-img-globe">
            <div class="volunteer-img-item"><img src="{% static 'img/crystal-ball.png' %}"></div>
          </div>
        </div>
        <div class="volunteer-stage-master">
          <div class="volunteer-img-master">
            <div class="volunteer-img-item"><img src="{% static 'img/antenna.png' %}"></div>
          </div>
          <div class="volunteer-stage-item">
            <h5>Провести майстер-клас</h5>
            <p>Ти вмієш щось робити і можеш навчити цьому дітей, супер!<br>А якщо це пов'язано з якоюсь професією, - ще краще.<br>  Наприклад, це можуть бути майстер-класи з кулінарного<br> мистецтва, пошиття будь чого, поробки з деревени, тощо.<br> Поміркуй, ти дійсно можеш чьогось навчити дитину.</p>
          </div>
        </div>
        <div class="volunteer-stage-vacant">
          <div class="volunteer-stage-item">
            <h5>ознайомити з професією</h5>
            <p>Якщо в тебе є можливість запросити дитину з Наставником<br> до себе на робоче місце і показати чим ти займаєшься,<br> чудово! Для дитини така годинка може бути вирішальною<br>в житті, і допоможе їй обрати професію.</p>
          </div>
          <div class="volunteer-img-vacant">
            <div class="volunteer-img-item"><img src="{% static 'img/wallet.png' %}"></div>
          </div>
        </div>
        <div class="volunteer-stage-finanse">
          <div class="volunteer-img-finanse">
            <div class="volunteer-img-item"><img src="{% static 'img/stethoscope.png' %}"></div>
          </div>
          <div class="volunteer-stage-item">
            <h5>Фінансова підтримка</h5>
            <p>Нажаль, далеко не всі процеси Наставництва ще<br> фінансуються державою. Якщо в тебе є бажання, ти можеш<br> одноразово, або час від часу перераховувати гроші на<br> потреби Наставництва.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="volunteer-idea">
      <div class="container">
        <div class="volunteer-idea-wrapp"><img src="{% static 'img/lightbulb.svg' %}">
          <div class="volunteer-idea-title"><span>В тебе є інша ідея того, як Ти<br>можеш допомогти Наставництву?</span>
            <p>З радістю її почуємо!</p>
          </div>
        </div>
      </div>
    </section>
    <section class="volunteer-form">
      <div class="container">
        <h2 id="be-volunteer">Приєднатися до волонтерів:</h2>
        <form method="post">
        <div class="volunteer-form-card">
            {% csrf_token %}
            <div class="volunteer-form-left">
              <p>Обери, що ти можеш робити:</p>
              <div class="video-all-check">
                <input class="with-font" id="box1" type="checkbox" checked="checked" name="{{ form.mentoring_popularization.html_name }}">
                <label class="video-all-check-name" for="box1">Займатись популяризацією Наставництва</label>
                {% for err in form.mentoring_popularization.errors %}
                  <span class="error-form">{{ err }}</span>
                {% endfor %}
              </div>
              <div class="video-all-check">
                <input class="with-font" id="box2" type="checkbox" checked="checked" name="{{ form.make_master_classes.html_name }}">
                <label class="video-all-check-name" for="box2">Проводити майстер-класи</label>
              </div>
              <input type="text" placeholder="Вкажи які саме" name="{{ form.master_classes_names.html_name }}">
              {% for err in form.master_classes_names.errors %}
                <span class="error-form">{{ err }}</span>
              {% endfor %}
              <div class="video-all-check">
                <input class="with-font" id="box3" type="checkbox" checked="checked" name="{{ form.talk_about_profession.html_name }}">
                <label class="video-all-check-name" for="box3">Познайомити дитину зі своєю професією</label>
              </div>
              <input type="text" placeholder="Вкажи яка професія" name="{{ form.profession_name.html_name }}">
              {% for err in form.profession_name.errors %}
                <span class="error-form">{{ err }}</span>
              {% endfor %}
              <input type="text" placeholder="Назва компанії" name="{{ form.profession_company_name.html_name }}">
              {% for err in form.profession_company_name.errors %}
                <span class="error-form">{{ err }}</span>
              {% endfor %}
              <input type="text" placeholder="Адреса" name="{{ form.profession_company_address.html_name }}">
              {% for err in form.profession_company_address.errors %}
                <span class="error-form">{{ err }}</span>
              {% endfor %}
              <div class="video-all-check">
                <input class="with-font" id="box4" type="checkbox" checked="checked" name="{{ form.financial_support.html_name }}">
                <label class="video-all-check-name" for="box4">Фінансово підтримати Наставництво</label>
              </div>
              <div class="video-all-check">
                <input class="with-font" id="box5" type="checkbox" checked="checked" name="{{ form.financial_support.html_name }}">
                <label class="video-all-check-name" for="box5" name="{{ form.another_assistance_ways.html_name }}">Допомогти по іншому</label>
              </div>
              <input type="text" placeholder="Вкажи як саме" name="{{ form.another_assistance_ways_names.html_name }}">
              {% for err in form.another_assistance_ways_names.errors %}
                <span class="error-form">{{ err }}</span>
              {% endfor %}
            </div>
            <div class="volunteer-form-line"></div>
            <div class="volunteer-form-right">
              <input type="text" placeholder="Ім’я" name="{{ form.first_name.html_name }}">
              {% for err in form.first_name.errors %}
                <span class="error-form">{{ err }}</span>
              {% endfor %}
              <input type="text" placeholder="Прізвище" name="{{ form.last_name.html_name }}">
              {% for err in form.last_name.errors %}
                <span class="error-form">{{ err }}</span>
              {% endfor %}
              <input type="text" placeholder="Email" name="{{ form.email.html_name }}">
              {% for err in form.email.errors %}
                <span class="error-form">{{ err }}</span>
              {% endfor %}
              <input type="text" placeholder="Телефон" name="{{ form.phone_number.html_name }}">
              {% for err in form.phone_number.errors %}
                <span class="error-form">{{ err }}</span>
              {% endfor %}
              <input type="text" placeholder="Місто" name="{{ form.city.html_name }}">
              {% for err in form.city.errors %}
                <span class="error-form">{{ err }}</span>
              {% endfor %}
              <button>Реєстрація</button>
              <div class="volunteer-form-vertical"></div>
              <p>Реєструючись, Ви погоджуєтеся з<a href=""> політикою<br> обробки персональних данних</a> . Зверніть увагу,<br> що Ваші данні будуть передані третім особам:<br> Центрам соціальних служб, Громадським<br> організаціям та Наставникам Вашого міста.</p>
            </div>
        </div>
        </form>
      </div>
    </section>
  </div>
{% endblock %}