{% extends 'mentors/base_with_prefooter.html' %}
{% load static %}

{% block content %}
  <div class="content">
    <section class="admin-link-nav">
      <div class="container">
        <a class="admin-link" href="{% url 'mentors:mentor_office' %}">Особистий кабінет наставника ></a>
        <p class="admin-link-title">Корисні контакти</p>
      </div>
    </section>
    <section class="contacts">
      <div class="contacts-container" id="contacts">
        <h2>Корисні контакти</h2>
        <div class="contacts-search"><i class="fas fa-search"></i>
          <input type="text" placeholder="Почніть вводити назву організації або ключові слова" v-model="searchString">
        </div>
        <a class="contacts-prof" href="{% url 'mentors:proforientation' %}">Перейти в розділ “Профорієнтація”</a>
          <div class="contacts-slide">
            <div class="contacts-slider">
              <template v-if="searchString === ''">
                <div class="question-slide" v-for="chunk in contacts.slice(activePage - 1, activePage)">
                  <div class="issues" v-for="contact in chunk">
                    <h3 class="issues-title">[[ contact.name ]]<img :src="`/media/${contact.logo}`" alt=""></h3>
                    <div class="issues-content">
                      <p>[[ contact.description ]]</p>
                    </div>
                  </div>
                </div>
              </template>
              <template v-else>
                <div class="question-slide">
                  <div class="issues" v-for="contact in searchedContacts">
                    <h3 class="issues-title">[[ contact.name ]]<img :src="`/media/${contact.logo}`" alt=""></h3>
                    <div class="issues-content">
                      <p>[[ contact.description ]]</p>
                    </div>
                  </div>
                </div>
              </template>
            </div>
            <section class="btn-box" v-if="searchString === ''">
              <button :class="{'btn-active_dots': activePage === i, 'btn_dots': activePage !== i}" v-for="i in contacts.length"></button>
            </section>
          </div>
      </div>
    </section>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'scripts/useful_contacts.js' %}"></script>
{% endblock %}