{% extends 'mentors/base_with_prefooter.html' %}
{% load static %}

{% block content %}
  <div class="content">
    <section class="admin-link-nav">
      <div class="container">
        <a class="admin-link" href="{% url 'mentors:mentor_office' %}">Особистий кабінет наставника ></a>
        <a class="admin-link active" href="{% url 'mentors:school_videos' %}"> Відео тренінги</a>
      </div>
    </section>
    <section class="video-all">
      <div class="container">
        <div class="owl-carousel">
          {% for video_chuck in object_list %}
            <div class="video-all-wrapp">
              {% with forloop.counter as outerloop_counter %}
                {% for video in video_chuck %}
                  <div class="video-all-card">
                    <h2>{{ video.title }}</h2>
                    <div class="video-all-line"></div>
                    <div class="video-all-content"><img src="{{ video.thumbnail.url }}" alt="">
                      <div class="video-all-link">
                        <div class="video-all-check">
                          <input class="with-font"
                                 id="box{{ outerloop_counter }}-{{ forloop.counter }}"
                                 data-id="{{ video.pk }}"
                                 type="checkbox"
                                 {% if mentor_user in video.watched_by.all %}checked="checked"{% else %}{% endif %}
                          >
                          <label class="video-all-check-name"
                                 for="box{{ outerloop_counter }}-{{ forloop.counter }}"
                          >
                            Переглянуто
                          </label>
                        </div>
                        {% if mentor_user in video.watched_by.all %}
                          <a class="video-init-all-btn" href="{% url 'mentors:school_video' pk=video.pk %}">Переглянути ще раз</a>
                        {% else %}
                          <a class="video-all-btn" href="{% url 'mentors:school_video' pk=video.pk %}">Переглянути</a>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                {% endfor %}
              {% endwith %}
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'scripts/video_list.js' %}"></script>
{% endblock %}
