{% extends 'base.html' %}
{% load static date_tags %}

{% block content %}
  <div class="content">
    <section class="admin-link-nav">
      <div class="container"><a class="admin-link active" href="">Особистий кабінет наставника</a></div>
    </section>
    <section class="admin">
      <div class="container">
        <div class="admin-wrapp">
          <div class="admin-left" id="mentoree-detail-edit">
            <div class="admin-card" v-if="viewMode">
              <div class="admin-card-info">
                <img :src="uploadedImageUrl" alt="" v-if="uploadedImageUrl">
                <img src="{% static 'img/user.svg' %}" alt="" v-else>
                <div>
                  <h2 class="admin-card-name">[[ mentoreeData.first_name ]]<br>[[ mentoreeData.last_name ]]</h2>
                  <p class="admin-card-birth">Дата народження</p>
                  <p class="admin-card-data">[[ mentoreeData.date_of_birth ]] <span class="admin-card-age">([[ mentoreeData.age ]]  років)</span></p>
                </div>
                <a class="admin-card-bage" href="javascript: void(0)" @click="viewMode=false">
                  <i class="fas fa-pencil-alt"></i>
                </a>
              </div>
              <div class="admin-card-line"></div>
              <div class="admin-card-dream">
                <div><span class="admin-card-dream-name">Мрія</span>
                  <p class="admin-card-dream-item">[[ mentoreeData.dream ]]</p><span class="admin-card-dream-name">Боїться</span>
                  <p class="admin-card-dream-item">[[ mentoreeData.fears ]]</p><span class="admin-card-dream-name">Ненавидить</span>
                  <p class="admin-card-dream-item">[[ mentoreeData.hates ]]</p>
                </div>
                <div><span class="admin-card-dream-name">Хочу стати</span>
                  <p class="admin-card-dream-item">[[ mentoreeData.want_to_become ]]</p><span class="admin-card-dream-name">Любить</span>
                  <p class="admin-card-dream-item">[[ mentoreeData.loves ]]</p>
                </div>
              </div>
              <div class="admin-card-line"></div>
              <div class="admin-card-post">
                <p>Твоя задача не досягти якихось цілей, а допомогти дититні!</p>
                <a href="{% url 'mentors:mentoree_detail' %}">Детальніше</a>
              </div>
            </div>

            <div class="admin-card" v-else>
              <div class="setting-card-info">
                <img :src="uploadedImageUrl" alt="" v-if="uploadedImageUrl">
                <img src="{% static 'img/user.svg' %}" alt="" v-else>
                <div class="setting-card-icon">
                  <label class="add-img" for="files"><i class="fas fa-plus"></i></label>
                  <input id="files" style="display:none;" type="file" @change="changeProfileImage($event)">
                  <a class="delete-img"
                     href="javascript: void(0)"
                     title="Delete image"
                     @click="deleteProfileImage()"
                  >
                    <i class="fas fa-trash"></i>
                  </a>
                </div>
                <div>
                  <div class="setting-card-name">
                    <input type="text" v-model="mentoreeData.first_name" placeholder="Ім'я">
                    <input type="text" v-model="mentoreeData.last_name" placeholder="Прізвище">
                  </div>
                  <p class="setting-card-birth">Дата народження</p>
                  <p class="setting-card-data">
                    <input type="text" v-model="mentoreeData.date_of_birth" placeholder="дд.мм.рррр"><span class="setting-card-age"></span>
                  </p>
                </div>
                <a class="setting-card-bage" href="javascript: void(0)" @click="submitMentoreeData($event)">
                  <i class="fas fa-check"></i>
                </a>
              </div>
              <div class="setting-card-line"></div>
              <div class="setting-card-dream">
                <div class="setting-card-dream-left"><span class="setting-card-dream-name">Мрія</span>
                  <input class="setting-card-dream-item" type="text" v-model="mentoreeData.dream" placeholder="Введіть текст тут"><span class="setting-card-dream-name">Боїться</span>
                  <input class="setting-card-dream-item" type="text" v-model="mentoreeData.fears" placeholder="Введіть текст тут"><span class="setting-card-dream-name">Ненавидить</span>
                  <input class="setting-card-dream-item" type="text" v-model="mentoreeData.hates" placeholder="Введіть текст тут">
                </div>
                <div class="setting-card-dream-right"><span class="setting-card-dream-name">Хочу стати</span>
                  <input class="setting-card-dream-item" type="text" v-model="mentoreeData.want_to_become" placeholder="Введіть текст тут"><span class="setting-card-dream-name">Любить</span>
                  <input class="setting-card-dream-item" type="text" v-model="mentoreeData.loves" placeholder="Введіть текст тут">
                </div>
              </div>
              <div class="setting-card-line"></div>
              <select v-model="mentoreeData.organization">
                <option v-for="option in mentoreeData.all_organizations"
                        :value="option.id"
                >
                  [[ option.name ]], [[ option.address ]]
                </option>
              </select>
            </div>

            <div class="admin-school">
              <h2 class="admin-school-title">Школа наставника</h2>
              <div class="admin-school-line"></div>
              <div class="admin-school-video">
                {% for video in mentor_school_videos %}
                  <div class="admin-school-video-item"><img src="" alt="">
                    <div class="admin-school-video-title">
                      <p>{{ video.title }}</p><a href="{% url 'mentors:school_video' pk=video.pk %}">Дивитись</a>
                    </div>
                  </div>
                {% endfor %}
              </div><a href="{% url 'mentors:school_videos' %}">Всі відео</a>
            </div>
            <div class="admin-walk">
              <h2 class="admin-walk-title">Що робити з вихованцем</h2>
              <div class="admin-walk-line"></div>
              <div class="admin-walk-wrapp">
                <div class="admin-walk-place"><img src="{{ mentor_tip.image.url }}" alt="">
                  <div class="admin-walk-desc">
                    <h4>{{ mentor_tip.title }}</h4>
                    <p>{{ mentor_tip.content }}</p>
                  </div>
                </div>
              </div><a href="#">Ще поради</a>
            </div>
          </div>
          <div class="admin-right">
            <div class="admin-social">
              <div class="admin-social-info">
                <h2 class="admin-social-title">Cтрічка новин<br>співдружності наставників</h2>
                <a class="admin-social-bage" href="{% url 'mentors:posts' %}?addPost=true">
                  <i class="fas fa-plus"></i>
                </a>
              </div>
              {% if last_post %}
                <div class="admin-social-line"></div>
                <div class="admin-social-author">
                  <img src="{% if last_post.author.profile_image %}{{ last_post.author.profile_image.url }}{% endif %}" alt="">
                  <div>
                    <h4>{{ last_post.author.first_name }} {{ last_post.author.last_name }}</h4>
                    <span>{{ last_post.datetime|get_time_spent }}</span>
                  </div>
                </div>
                <div class="admin-social-description">
                  <p>{{ last_post.content }}</p>
                </div>
                <div class="admin-social-image">
                  <img src="{% if last_post.image %}{{ last_post.image.url }}{% endif %}" alt="">
                  <div class="admin-social-wrapp-icon">
                    <div class="admin-social-icon">
                      <span><i class="far fa-comment"></i></span>
                      <a href="">Коментарi ({{ last_post.comments.count }})</a>
                    </div>
                    <div class="admin-social-icon like-block" data-id="{{ last_post.id }}">
                      <span><i class="far fa-thumbs-up"></i></span>
                      <a href="">
                        ({{ last_post.likes.count }})
                      </a>
                    </div>
                  </div>
                </div>
                {% if last_post.comments.count %}
                  <div class="admin-social-dialog-line"></div>
                  {% for comment in last_post.comments.all|dictsortreversed:'datetime'|slice:'2' %}
                    <div class="admin-social-dialog">
                      <div class="admin-social-dialog-wrapp"><img src="{{ comment.author.profile_image.url }}" alt="">
                        <div class="admin-social-dialog-content">
                          <p>{{ comment.author.first_name }} {{ comment.author.last_name }}</p>
                          <span>{{ comment.content }}</span>
                        </div>
                      </div><span>{{ comment.datetime|get_time_spent }}</span>
                    </div>
                  {% endfor %}
                  <div class="admin-social-dialog-line-btn"></div>
                {% endif %}
                <a class="admin-social-btn" href="{% url 'mentors:posts' %}">Відкрити всю ленту</a>
              {% endif %}
            </div>
            {% if mentor.meetings.exists %}
              <div class="admin-diary">
                <h2 class="admin-diary-title">Щоденник зустрічей</h2>
                <div class="admin-diary-line"></div>
                <div class="admin-diary-wrapp">
                  {% for meeting in mentor.meetings.all|dictsortreversed:'date'|slice:'3' %}
                    <div class="admin-diary-item">
                      <div>
                        <span>{{ meeting.date|date:'d.m.Y' }}</span>
                        <span>{{ meeting.title }}</span>
                      </div>
                      <a href="{% url 'mentors:meetings_list' %}?meeting_id={{ meeting.id }}">Детальніше ></a>
                    </div>
                  {% endfor %}
                </div>
                <a class="admin-diary-btn"
                   href="{% url 'mentors:meetings_list' %}"
                >
                  Усі зустрічі
                </a>
              </div>
            {% else %}
                <div class="admin-diary-empty">
                  <div class="w-100">
                    <h2 class="admin-diary-title">Щоденник зустрічей</h2>
                    <div class="admin-diary-line"></div>
                  </div>
                  <div>
                    <a class="diary-slider-frown">
                      <i class="far fa-frown"></i><span>Фото дня не завантажені</span>
                    </a>
                  </div>
                  <div>
                    <a class="admin-diary-btn"
                       href="{% url 'mentors:meetings_list' %}?newMeeting=true"
                    >
                      Додати зустріч
                    </a>
                  </div>
                </div>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}

{% block extra_js %}
  <script>
    const userId = '{{ user.pk }}';
  </script>
  <script src="{% static 'scripts/news_item_like.js' %}"></script>
  <script src="{% static 'scripts/mentoree_edit.js' %}"></script>
{% endblock %}
