{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="child-data">
        Child: <br>
        {% with mentor.mentoree as m%}
          {{ m.first_name }} <br>
          {{ m.last_name }} <br>
          {{ m.date_of_birth|date:'d.m.Y' }} <br>
          {{ m.dream }} <br>
          {{ m.want_to_become }} <br>
          {{ m.fears }} <br>
          {{ m.loves }} <br>
          {{ m.hates }} <br>
        {% endwith %}
        <a href="{% url 'mentors:mentoree_detail' %}">{% trans 'Detail' %}</a>
    </div>
    <div class="posts-data">
        Posts: <br>
        {% for post in mentor.posts.all %}
            {{ post }} <br>
            {% for comment in post.comments.all %}
                {{ comment }}
            {% endfor %}
            <br>
        {% endfor %}
    </div>
    <div class="meetings-data">
        {% for meeting in mentor.meetings.all %}
          {{ meeting.date|date:'d.m.Y' }} {{ meeting.title }} <br>
        {% endfor %}
    </div>
{% endblock %}