{% extends 'mentors/../base.html' %}
{% load static date_tags jsonify %}

{% block content %}
  <div class="content">
    <section class="admin-link-nav">
      <div class="container">
        <a class="admin-link" href="{% url 'mentors:mentor_office' %}">Особистий кабінет наставника ></a>
        <a class="admin-link active" href=""> {{ mentoree.first_name }} {{ mentoree.last_name }}</a></div>
    </section>
    <section class="admin">
      <div class="container">
        <div class="admin-wrapp">
          {% include 'mentors/mentoree_detail/data_block.html' %}
          {% include 'mentors/mentoree_detail/extra_fields_block.html' %}
        </div>
        {% include 'mentors/mentoree_detail/story_block.html' %}
      </div>
    </section>
  </div>
{% endblock %}

{% block extra_js %}
  <script>
    const userId = '{{ user.pk }}';
  </script>
  <script src="{% static 'scripts/mentoree_detail.js' %}"></script>
{% endblock %}