{% extends 'base.html' %}
{% load static date_tags mentor_tags %}

{% block content %}
  <div class="content">
    <section class="admin-link-nav">
      <div class="container">
        <a class="admin-link" href="{% url 'mentors:mentor_office' %}">Особистий кабінет наставника ></a>
        <a class="admin-link active" href=""> Стрічка новин</a>
      </div>
    </section>
    <section class="tape">
      <div class="container">
        <h2 class="tape-title">Стрічка новин співдружності наставників</h2>
          <div class="tape-wrapp" id="news-line">
            <a class="tape-bage"
               href="javascript: void(0)"
               v-if="!addNews"
               @click="addNews=true"
            >
              <i class="fas fa-plus"></i>
            </a>
            <div class="tape-content" v-if="addNews">
              <div class="tape-add">
                <div class="tape-add-wrapp">
                  <div class="tape-author"><img src="{{ user|get_mentor_data:'profile_image' }}" alt=""></div>
                  <div class="tape-add-content">
                    <textarea name=""
                              id=""
                              rows="5"
                              placeholder="Напишіть Вашу новину тут"
                              v-model="newPostData.text"
                    ></textarea>
                    <div class="tape-add-img">
                      <label tabindex="0" for="file">
                        <i class="fas fa-camera"></i>
                        <span>Додати фото</span>
                      </label>
                      <p class="tape-add-img-name"></p>
                      <input id="file"
                             type="file"
                             name="inputFile"
                             required=""
                             @change="addPostImage($event)"
                      >
                    </div>
                  </div>
                </div>
                <button class="tape-add-btn" @click="sendNewPost()">Поділитися</button>
              </div>
            </div>

            <div class="tape-content" v-for="post in posts">
              <div class="tape-author"><img :src="post.author.profile_image" alt="">
                <div>
                  <h4>[[ post.author.first_name ]] [[ post.author.last_name ]]</h4><span>[[ post.datetime ]]</span>
                </div>
              </div>
              <div class="tape-description">
                <p>[[ post.content ]]</p>
              </div>
              <div class="tape-image">
                <img :src="post.image" v-if="post.image" alt="">
                <div class="tape-wrapp-icon">
                  <div class="tape-social-icon"><span><i class="far fa-comment"></i></span><a href="">Коментарi ([[ post.comments.length ]])</a></div>
                  <div class="tape-social-icon" @click="likePost(post.id)">
                    <span><i class="far fa-thumbs-up"></i></span>
                    <a href="javascript: void(0)">([[ post.likes ]])</a>
                  </div>
                </div>
              </div>
              <div class="tape-line"></div>
              <div class="tape-dialog">
                <div class="tape-dialog-wrapp" v-for="comment in post.comments">
                  <img :src="comment.author.profile_image" alt="">
                  <div class="tape-dialog-content">
                    <div class="tape-dialog-header">
                      <p>[[ comment.author.first_name ]] [[ comment.author.last_name ]]</p>
                      <span>[[ comment.datetime ]]</span>
                    </div><span>[[ comment.content ]]</span>
                  </div>
                </div>
                <div class="tape-dialog-all"
                     v-if="post.comments.length"
                >
                  <a href="javascript: void(0)">Читати всі коментарі</a>
                </div>
                <div class="tape-dialog-wrapp">
                  <img src="{{ user|get_mentor_data:'profile_image' }}" alt="">
                  <div class="tape-dialog-content">
                    <textarea name="text"
                              placeholder="Залишити коментар"
                              @input="addNewComment($event.target.value, post.id)"
                    ></textarea>
                  </div>
                </div>
                <button type="button"
                        class="tape-dialog-btn"
                        @click="sendNewComment(post.id)"
                >
                  Надіслати
                </button>
                <div class="tape-line"></div>
              </div>
            </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'scripts/news_line.js' %}"></script>
  <script src="{% static 'scripts/news_item_like.js' %}"></script>
{% endblock %}
