{% extends 'base.html' %}

{% load static %}

{% block content %}
  <section class="admin-link-nav">
  </section>
  <div class="container">
    <section class="question" id="question">
      <h2> Поширені запитання</h2>
      <div class="question-search"><i class="fas fa-search"></i>
        <input type="text" placeholder="Почніть вводити запитання або ключові слова" v-model="searchString">
      </div>
      <div class="question-wrapp">
        <div class="question-left">
          <div>
            <div class="question-slide">
              <div class="issues" v-for="question in searchedQuestions">
                <h3 class="issues-title">[[ question.title ]]</h3>
                <div class="issues-content">
                  <p>[[ question.body ]]</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="question-right">
          <form method="post">
            <div class="question-write"><span>Не знайшли своє запитання?</span>
              <div class="question-line"></div>
              <p>Задайте його фахівцям і ми постараємося дати на нього відповідь</p>
              {% csrf_token %}
              <textarea rows="8" name="body"></textarea>
              <button type="submit">Надіслати</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'scripts/question.js' %}"></script>
{% endblock %}