{% extends 'mentors/../base.html' %}

{% load static %}

{% block content %}
  <div class="content">
    <section class="first-stage">
      <div class="container">
        <h2> Дякую за бажання стати Наставником для дитини</h2>
        <div class="first-stage-wrapp">
          <div class="stage-panel-two"><img src="img/family.svg" alt=""><span
              class="stage-panel-start">Зареєструватися<br> в ЦССССДМ</span><span class="stage-panel-next">Зібрати пакет<br>документів</span>
            <div class="stage-panel-active">До наступного кроку</div>
            <span class="stage-panel-last">Пройти навчання</span><span
                class="stage-panel-finish">Знайомство з дитиною,<br> підписання договору</span>
          </div>
          <div class="first-stage-info">
            <div class="first-stage-btn">Збери пакет документів</div>
            <p>1. Звернися в твоє регіональне відділення Міністерства<br> внутрішніх справ для отримання довідки про несудимість<br> або<a href=""> замов її Online.</a>  Знайди контактні дані на карті:</p>
            <input type="text" placeholder="Введіть вашу адресу, щоб знайти відділення поблизу" id="map-input">
            <div class="first-stage-map" id="map"></div>
            <p>2. Пройди медогляд. Якщо тобі не дали форму для<br>огляду, то ти можеш її завантажити тут:</p>
            <div class="first-stage-doc">
              <a href="{{ medical_exam.file.url }}" target="_blank">
                <img src="{% static 'img/download.svg' %}" alt=""><span>Завантажити</span>
              </a>
            </div>
            <p>3. Віднеси зібрані документи в Центр соціальних служб:</p>
            <div class="first-stage-subt"><span>1. Довідка про несудимість</span><span>2. Висновок про стан здоров'я</span></div>
            <div class="first-stage-btn">Пройди навчання</div>
            <p>1. Пройди співбесіду з психологом Центру<br>соціальних служб</p>
            <div class="first-stage-social">
              <p>Запишися на співбесіду з психологом, а також, дізнайся<br> коли ти зможеш пройти тренінг для наставників</p>
              <div class="first-stage-line"></div>
              <div class="first-stage-social-wrapp"><img src="{% static 'img/old-phone.svg' %}" alt="">
                <div class="first-stage-social-info">
                  <p>Контакти</p>
                  {% for number in soc_service.phone_numbers %}
                    <p>{{ number }}</p>
                  {% endfor %}
                  <div class="first-stage-social-mail">
                    <span>{{ soc_service.user.email }}</span>
                  </div>
                </div>
              </div>
            </div>
            <p>2. Пройди тренінг для наставників.<br>Його тривалість 4 дня</p>
            <form method="post">
              {% csrf_token %}
              <div class="first-stage-license">
                <p>Підтвердіть що ви пройшли тренінг</p>
                <div class="first-stage-line-license"></div>
                <span>Для цього введить свій ліцензійний номер<br> виданий Центром соціальних Служб:</span>
                  <input type="text" name="licence_key" class="{% if errors.key %}alert-border{% endif %}">
                  {% if errors.key %}
                    <span class="error-form">{{ errors.key }}</span>
                  {% endif %}
                  <button type="submit">Підтвердити</button>
              </div>
            </form>
            <div class="first-stage-btn">Познайомся з дитиною, підпиши договір</div>
            <p class="mb-3">1. Знайомство з дитиною</p>
            <p>2. Підписання договору.<br>Ознайомся попередньо з договором</p>
            <div class="first-stage-doc">
              <a href="{{ contract.file.url }}" target="_blank"><img src="{% static 'img/download.svg' %}" alt="">
                <span>Завантажити</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}

{% block extra_css %}
  <style>
    #map {
      height: 300px;
      margin-bottom: 45px;
    }

    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
{% endblock %}

{% block extra_js %}
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNMxEA9L4ZhEvydiG_sczKhTX68mAHOSY&callback=initMap">
  </script>

  <script src="{% static 'scripts/google_map.js' %}"></script>
{% endblock %}
