{% extends 'mentors/../base.html' %}

{% load static %}

{% block content %}
  <div class="content">
    <section class="page-form" id="step2-form">
      <div class="container">
        <div class="page-form-title">
          <h2>Давай знайомитися!</h2>
          <p>Заповни обов’язкову анкету кандидата в наставники</p><span>Велике прохання заповнити всі графи анкети, даючи найбільш повні відповіді на запитання.<br>Це допоможе краще здійснити взаємодобір пари «дитина-наставник»</span>
        </div>
        <form action="">
          <h3>1. Загальні відомості:</h3>
          <div class="page-form-register">
            <div class="page-form-register-left">
              <div>
              <span>ПІБ</span>
              <input type="text" v-model="full_name" :class="{'alert-border': errors['full_name']}">
              <span class="error-form" v-for="err in errors.full_name">[[ err ]]</span>
              </div>
              <div>
              <span>Дата народження</span>
              <input type="text" placeholder="dd.mm.yyyy" v-model="date_of_birth" :class="{'alert-border': errors['date_of_birth']}">
              <span class="error-form" v-for="err in errors.date_of_birth">[[ err ]]</span>
              </div>
              <div>
              <span>Контактний телефон</span>
              <input type="text" v-model="phone_number" :class="{'alert-border': errors['phone_number']}">
              <span class="error-form" v-for="err in errors.phone_number">[[ err ]]</span>
              </div>
              <div>
              <span>Електронна адреса</span>
              <input type="email" v-model="email" :class="{'alert-border': errors['email']}">
              <span class="error-form" v-for="err in errors.email">[[ err ]]</span>
              </div>
            </div>
            <div class="page-form-register-right">
              <div>
              <span>Національність/Громадянство</span>
              <input type="text" v-model="nationality" :class="{'alert-border': errors['nationality']}">
              <span class="error-form" v-for="err in errors.nationality">[[ err ]]</span>
              </div>
              <div>
              <span>Адреса фактичного місця проживання</span>
              <input type="text" v-model="actual_address" :class="{'alert-border': errors['actual_address']}">
              <span class="error-form" v-for="err in errors.actual_address">[[ err ]]</span>
              </div>
              <div>
              <span>Адреса реєстрації</span>
              <input type="text" v-model="registration_address" :class="{'alert-border': errors['registration_address']}">
              <span class="error-form" v-for="err in errors.registration_address">[[ err ]]</span>
              </div>
              <div>
              <span>Віросповідання</span>
              <select v-model="religion" :class="{'alert-border': errors['religion']}">
                <option v-for="key, value in choices.religions" :value="value">
                  [[ key ]]
                </option>
              </select>
              <span class="error-form" v-for="err in errors.religion">[[ err ]]</span>
              </div>
              <div class="page-form-register-religion">
                <span>Яку міську церкву ви відвідуєте?</span>
                <input type="text" v-model="local_church_visiting" :class="{'alert-border': errors['local_church_visiting']}">
                <span class="error-form" v-for="err in errors.local_church_visiting">[[ err ]]</span>
                <span>Як часто?</span>
                <select v-model="local_church_visiting_frequency" :class="{'alert-border': errors['local_church_visiting_frequency']}">
                  <option></option>
                  <option v-for="key, value in choices.local_church_visiting_frequency" :value="value">
                    [[ key ]]
                  </option>
                </select>
                <span class="error-form" v-for="err in errors.local_church_visiting_frequency">[[ err ]]</span>
              </div>
            </div>
          </div>
          <h3>2. Стан здоров’я:</h3>
          <div class="page-form-health">
            <span>Як Ви оцінюєте свій стан здоров’я?</span>
            <input type="text" v-model="health_self_estimation" :class="{'alert-border': errors['health_self_estimation']}">
            <span class="error-form" v-for="err in errors.health_self_estimation">[[ err ]]</span>
            <span>Чи маєте Ви серйозні захворювання?</span>
            <div class="page-form-check">
              <label class="form-check">
                <input type="radio" value="Yes" v-model="serious_diseases"><span class="form-check-label-md">Так</span>
              </label>
              <label class="form-check">
                <input type="radio" checked="checked" value="No" v-model="serious_diseases"><span class="form-check-label-md">Hi</span>
              </label>
            </div><span>Чи перебуваєте Ви на обліку:</span>
            <div class="page-form-symptom">
              <div class="page-form-symptom-item">
                <p>Нарколога</p>
                <div class="page-form-check-symptom" :class="{'alert-border': errors['narcologist']}">
                  <label class="form-check">
                    <input type="radio" value="Yes" v-model="narcologist"><span class="form-check-label-sm">Так</span>
                  </label>
                  <label class="form-check">
                    <input type="radio" value="No" v-model="narcologist" checked="checked"><span class="form-check-label-sm">Hi</span>
                  </label>
                </div>
                <span class="error-form" v-for="err in errors.narcologist">[[ err ]]</span>
              </div>
              <div class="page-form-symptom-item">
                <p>Психіатра</p>
                <div class="page-form-check-symptom" :class="{'alert-border': errors['psychiatrist']}">
                  <label class="form-check">
                    <input type="radio" value="Yes" v-model="psychiatrist"><span class="form-check-label-sm">Так</span>
                  </label>
                  <label class="form-check">
                    <input type="radio" value="No" v-model="psychiatrist" checked="checked"><span class="form-check-label-sm">Hi</span>
                  </label>
                </div>
                <span class="error-form" v-for="err in errors.psychiatrist">[[ err ]]</span>
              </div>
              <div class="page-form-symptom-item">
                <p>Фтизіатра</p>
                <div class="page-form-check-symptom" :class="{'alert-border': errors['phthisiatrician']}">
                  <label class="form-check">
                    <input type="radio" value="Yes" v-model="phthisiatrician"><span class="form-check-label-sm">Так</span>
                  </label>
                  <label class="form-check">
                    <input type="radio" value="No" v-model="phthisiatrician" checked="checked"><span class="form-check-label-sm">Hi</span>
                  </label>
                </div>
                <span class="error-form" v-for="err in errors.phthisiatrician">[[ err ]]</span>
              </div>
              <div class="page-form-symptom-item">
                <p>Терапевта</p>
                <div class="page-form-check-symptom" :class="{'alert-border': errors['therapist']}">
                  <label class="form-check">
                    <input type="radio" value="Yes" v-model="therapist"><span class="form-check-label-sm">Так</span>
                  </label>
                  <label class="form-check">
                    <input type="radio" value="No" v-model="therapist" checked="checked"><span class="form-check-label-sm">Hi</span>
                  </label>
                </div>
                <span class="error-form" v-for="err in errors.therapist">[[ err ]]</span>
              </div>
            </div>
            <div class="page-form-symptom">
              <div class="page-form-symptom-item-new">
                <p>Дерматовенеролога</p>
                <div class="page-form-check-symptom-new" :class="{'alert-border': errors['dermatovenereologist']}">
                  <label class="form-check">
                    <input type="radio" value="Yes" v-model="dermatovenereologist"><span class="form-check-label-sm">Так</span>
                  </label>
                  <label class="form-check">
                    <input type="radio" value="No" v-model="dermatovenereologist" checked="checked"><span class="form-check-label-sm">Hi</span>
                  </label>
                </div>
                <span class="error-form" v-for="err in errors.dermatovenereologist">[[ err ]]</span>
              </div>
            </div>
            <div class="blue-title">* Якщо так, то вкажіть назву медичної установи, термін перебування</div>
            <input class="blue-title-input" type="text" v-model="hospital_data" :class="{'alert-border': errors['hospital_data']}">
            <span class="error-form" v-for="err in errors.hospital_data">[[ err ]]</span>
            <span>Чи є Ви ВІЛ-інфікованим?
              <div class="page-form-check">
                <label class="form-check">
                  <input type="radio" value="Yes" v-model="hiv_infected"><span class="form-check-label-md">Так</span>
                </label>
                <label class="form-check">
                  <input type="radio" value="No" v-model="hiv_infected" checked="checked"><span class="form-check-label-md">Hi</span>
                </label>
              </div>
            </span>
          </div>
          <div class="page-form-work">
            <h3>3. Освіта:</h3>
            <a href="javascript: void(0)" @click="addEducationObject">
              <i class="fas fa-plus"></i><span>Додати рядок</span>
            </a>
          </div>
          <div class="page-form-education">
            <div class="table-education">
              <div class="table-education-header">
                <div class="table-education-main">Освіта</div>
                <div class="table-line"></div>
                <div class="table-education-start">Рік вступу</div>
                <div class="table-line"></div>
                <div class="table-education-end">Рік закінчення</div>
                <div class="table-line"></div>
                <div class="table-education-special">Отримана спеціальність, ступінь або інша кваліфікація</div>
              </div>
              <div class="table-education-line" v-for="institution, index in educations">
                <div class="table-education-name" v-if="index < 3">
                  [[ getInstitutionName(institution.education_type) ]]
                </div>
                <div class="table-education-name" v-else>
                  <select v-model="institution.education_type">
                    <option v-for="key, value in choices.education_types" :value="value">
                      [[ key ]]
                    </option>
                  </select>
                </div>
                <div class="table-education-input">
                  <input type="text" v-model="institution.year_of_admission" :class="{'alert-border': errors['educations'][index].year_of_admission}">
                  <span class="error-form" v-for="err in errors.educations[index].year_of_admission">[[ err ]]</span>
                </div>
                <div class="table-education-input">
                  <input type="text" v-model="institution.year_of_graduation" :class="{'alert-border': errors['educations'][index].year_of_graduation}">
                  <span class="error-form" v-for="err in errors.educations[index].year_of_graduation">[[ err ]]</span>
                </div>
                <div class="table-education-input-last">
                  <input type="text" v-model="institution.degree" :class="{'alert-border': errors['educations'][index].degree}">
                  <span class="error-form" v-for="err in errors.educations[index].degree">[[ err ]]</span>
                </div>
              </div>
            </div>
          </div>
          <div class="page-form-work">
            <h3>4. Працевлаштування:</h3>
            <a href="javascript: void(0)" @click="addJobObject"><i class="fas fa-plus"></i><span>Додати таблицю</span></a>
          </div>
          <div class="table-work" v-for="job, index in jobs">
            <div class="table-work-header">
              <div class="table-work-main" v-if="job.is_current">Місце роботи на цей момент</div>
              <div class="table-work-main" v-else>Місце попередньої роботи</div>
              <div class="table-line"></div>
              <div class="table-work-start">З (місяць, рік)</div>
              <div class="table-work-line-vert"></div>
              <div class="table-work-end">До (місяць, рік)</div>
              <div class="table-line"></div>
              <div class="table-work-info">Контактна інформація (телефон, адреса)</div>
            </div>
            <div class="table-work-line">
              <div class="table-work-input-main">
                <input type="text" placeholder="Введіть назву організації" v-model="job.organization_name" :class="{'alert-border': errors['jobs'][index].organization_name}">
                <span class="error-form" v-for="err in errors.jobs[index].organization_name">[[ err ]]</span>
              </div>
              <div class="table-work-input-start">
                <input type="text" v-model="job.date_since" :class="{'alert-border': errors['jobs'][index].date_since}">
                <span class="error-form" v-for="err in errors.jobs[index].date_since">[[ err ]]</span>
              </div>
              <div class="table-work-input-end">
                <input type="text" v-model="job.date_till" :class="{'alert-border': errors['jobs'][index].date_till}">
                <span class="error-form" v-for="err in errors.jobs[index].date_till">[[ err ]]</span>
              </div>
              <div class="table-work-input-info">
                <input type="text" v-model="job.contact_info" :class="{'alert-border': errors['jobs'][index].contact_info}">
                <span class="error-form" v-for="err in errors.jobs[index].contact_info">[[ err ]]</span>
              </div>
            </div>
            <div class="table-work-header">
              <div class="table-work-left">Посада</div>
              <div class="table-line"></div>
              <div class="table-work-top">Виконувані обов’язки</div>
              <div class="table-line"></div>
              <div class="table-work-right">Причина звільнення</div>
            </div>
            <div class="table-work-line">
              <div class="table-work-input-left">
                <input type="text" v-model="job.position" :class="{'alert-border': errors['jobs'][index].position}">
                <span class="error-form" v-for="err in errors.jobs[index].position">[[ err ]]</span>
              </div>
              <div class="table-work-input-top">
                <input type="text" v-model="job.duties" :class="{'alert-border': errors['jobs'][index].duties}">
                <span class="error-form" v-for="err in errors.jobs[index].duties">[[ err ]]</span>
              </div>
              <div class="table-work-input-right">
                <input type="text" v-model="job.reason_for_leaving" :class="{'alert-border': errors['jobs'][index].reason_for_leaving}">
                <span class="error-form" v-for="err in errors.jobs[index].reason_for_leaving">[[ err ]]</span>
              </div>
            </div>
          </div>
        </form>
        <h3>5. Інтереси, хобі</h3>
        <div class="page-form-hobby">
          <textarea rows="3" placeholder="Чим ви любите займатися на дозвіллі?" v-model="interests_and_hobbies" :class="{'alert-border': errors['interests_and_hobbies']}"></textarea>
          <span class="error-form" v-for="err in errors.interests_and_hobbies">[[ err ]]</span>
        </div>
        <h3>6. Сімейний стан:</h3>
        <div class="page-form-family"><span>Оберіть Ваш сімейний стан</span>
          <select v-model="marital_status" :class="{'alert-border': errors['marital_status']}">
            <option></option>
            <option v-for="key, value in choices.marital_statuses" :value="value">
              [[ key ]]
            </option>
          </select>
          <span class="error-form" v-for="err in errors.marital_status">[[ err ]]</span>
        </div>
        <div class="page-form-family-main">
          <span>* Будь ласка, вкажіть членів вашої сім’ї</span>
          <a href="javascript: void(0)" @click="addFamilyMemberObject"><i class="fas fa-plus"></i><span>Додати таблицю</span></a></div>
        <div class="table-family">
          <div class="table-family-header">
            <div class="table-family-title">Ім’я</div>
            <div class="table-line"></div>
            <div class="table-family-title">Стать</div>
            <div class="table-line"></div>
            <div class="table-family-title">Дата народження</div>
            <div class="table-line"></div>
            <div class="table-family-title">Характер сімейних стосунків<br>(мати, сестра, син тощо)</div>
          </div>
          <div class="table-family-line" v-for="member, index in family_members">
            <div class="table-family-input">
              <input type="text" v-model="member.name" :class="{'alert-border': errors['family_members'][index].name}">
              <span class="error-form" v-for="err in errors.family_members[index].name">[[ err ]]</span>
            </div>
            <div class="table-family-input">
              <select v-model="member.gender" :class="{'alert-border': errors['family_members'][index].gender}">
                <option v-for="key, value in choices.genders" :value="value">
                  [[ key ]]
                </option>
              </select>
              <span class="error-form" v-for="err in errors.family_members[index].gender">[[ err ]]</span>
            </div>
            <div class="table-family-input">
              <input type="text" v-model="member.date_of_birth" :class="{'alert-border': errors['family_members'][index].date_of_birth}">
              <span class="error-form" v-for="err in errors.family_members[index].date_of_birth">[[ err ]]</span>
            </div>
            <div class="table-family-input">
              <input type="text" v-model="member.relation" :class="{'alert-border': errors['family_members'][index].relation}">
              <span class="error-form" v-for="err in errors.family_members[index].relation">[[ err ]]</span>
            </div>
          </div>
        </div>
        <h3>7. Житлово-побутові умови:</h3>
        <div class="page-form-home">
          <p>* Заповніть пункт 7, якщо передбачається відвідування вихованцем вашої домівки</p><span>Вкажіть, де Ви проживаєте на цей момент</span>
          <select v-model="home_type" :class="{'alert-border': errors['home_type']}">
            <option></option>
            <option v-for="key, value in choices.home_types" :value="value">
              [[ key ]]
            </option>
          </select>
          <span class="error-form" v-for="err in errors.home_type">[[ err ]]</span>
          <div class="page-form-room">
            <div class="page-form-room-item"><span> Кількість кімнат</span>
              <input type="text" v-model="room_count" :class="{'alert-border': errors['room_count']}">
              <span class="error-form" v-for="err in errors.room_count">[[ err ]]</span>
            </div>
            <div class="page-form-room-item"><span> Кількість осіб, які проживають в одній кімнаті</span>
              <input type="text" v-model="people_per_room" :class="{'alert-border': errors['room_count']}">
              <span class="error-form" v-for="err in errors.people_per_room">[[ err ]]</span>
            </div>
          </div><span class="page-form-room-name">Інформація про інших членів сім’ї, які проживають разом із вами<br>(ПІБ, вік, сімейні стосунки)</span>
          <textarea class="page-form-room-input" rows="3" v-model="home_family_members_data" :class="{'alert-border': errors['home_family_members_data']}"></textarea>
          <span class="page-form-room-name">Чи є у вас домашні тварини? (Якщо так, то які саме?)</span>
          <span class="error-form" v-for="err in errors.home_family_members_data">[[ err ]]</span>
          <textarea class="page-form-room-input" rows="3" v-model="pets_data" :class="{'alert-border': errors['pets_data']}"></textarea>
          <span class="error-form" v-for="err in errors.pets_data">[[ err ]]</span>
        </div>
        <h3>8. Досвід роботи з дітьми:</h3>
        <div class="page-form-child-main">
          <span>* Будь ласка, вкажіть ваш поточний і попередній досвід роботи з дітьми<br>(оплачувана робота, волонтерська діяльність тощо)</span>
          <a href="javascript: void(0)" @click="addChildrenWorkExperienceObject"><i class="fas fa-plus"></i><span>Додати таблицю</span></a></div>
        <div class="table-child" v-for="exp, index in children_work_experiences">
          <div class="table-child-header">
            <div class="table-child-main">Назва організації</div>
            <div class="table-line"></div>
            <div class="table-child-start">З (місяць, рік)</div>
            <div class="table-child-line-vert"></div>
            <div class="table-child-end">До (місяць, рік)</div>
            <div class="table-line"></div>
            <div class="table-child-info">Контактна інформація (телефон, адреса)</div>
          </div>
          <div class="table-child-line">
            <div class="table-child-input-main">
              <input type="text" v-model="exp.organization_name" :class="{'alert-border': errors['children_work_experiences'][index].organization_name}">
              <span class="error-form" v-for="err in errors.children_work_experiences[index].organization_name">[[ err ]]</span>
            </div>
            <div class="table-child-input-start">
              <input type="text" v-model="exp.date_since" :class="{'alert-border': errors['children_work_experiences'][index].date_since}">
              <span class="error-form" v-for="err in errors.children_work_experiences[index].date_since">[[ err ]]</span>
            </div>
            <div class="table-child-input-end">
              <input type="text" v-model="exp.date_till" :class="{'alert-border': errors['children_work_experiences'][index].date_till}">
              <span class="error-form" v-for="err in errors.children_work_experiences[index].date_till">[[ err ]]</span>
            </div>
            <div class="table-child-input-info">
              <input type="text" v-model="exp.contact_info" :class="{'alert-border': errors['children_work_experiences'][index].contact_info}">
              <span class="error-form" v-for="err in errors.children_work_experiences[index].contact_info">[[ err ]]</span>
            </div>
          </div>
          <div class="table-child-header">
            <div class="table-child-left">Посада</div>
            <div class="table-line"></div>
            <div class="table-child-top">Виконувані обов’язки</div>
            <div class="table-line"></div>
            <div class="table-child-right">Вікова група дітей</div>
          </div>
          <div class="table-child-line">
            <div class="table-child-input-left">
              <input type="text" v-model="exp.position" :class="{'alert-border': errors['children_work_experiences'][index].position}">
              <span class="error-form" v-for="err in errors.children_work_experiences[index].position">[[ err ]]</span>
            </div>
            <div class="table-child-input-top">
              <input type="text" v-model="exp.duties" :class="{'alert-border': errors['children_work_experiences'][index].duties}">
              <span class="error-form" v-for="err in errors.children_work_experiences[index].duties">[[ err ]]</span>
            </div>
            <div class="table-child-input-right">
              <input type="text" v-model="exp.children_age_group" :class="{'alert-border': errors['children_work_experiences'][index].children_age_group}">
              <span class="error-form" v-for="err in errors.children_work_experiences[index].children_age_group">[[ err ]]</span>
            </div>
          </div>
        </div>
        <h3>9. Чому ви хочете стати наставником?</h3>
        <textarea class="page-form-input" rows="3" v-model="join_reason" :class="{'alert-border': errors['join_reason']}"></textarea>
        <span class="error-form" v-for="err in errors.join_reason">[[ err ]]</span>
        <h3>10. Які якості вашого характеру, особливі знання, навички тощо, можуть, на вашу думку,<br>допомогти становленню та розвитку дитини із закладу?</h3>
        <textarea class="page-form-input" rows="3" v-model="helpful_specifics" :class="{'alert-border': errors['helpful_specifics']}"></textarea>
        <span class="error-form" v-for="err in errors.helpful_specifics">[[ err ]]</span>
        <h3>11. Як би ви описали (охарактеризували) самі себе?</h3>
        <textarea class="page-form-input" rows="3" v-model="self_char" :class="{'alert-border': errors['self_char']}"></textarea>
        <span class="error-form" v-for="err in errors.self_char">[[ err ]]</span>
        <h3>12. Чому ви хочете допомагати дитині-сироті?</h3>
        <textarea class="page-form-input" rows="3" v-model="want_to_help_reason" :class="{'alert-border': errors['want_to_help_reason']}"></textarea>
        <span class="error-form" v-for="err in errors.want_to_help_reason">[[ err ]]</span>
        <h3>13. Які ваші очікування від дитини, з якою ви хочете взаємодіяти?</h3>
        <textarea class="page-form-input"
                  rows="3"
                  placeholder="Вік, стать, наскільки важливим для вас є характер дитини (зовнішній вигляд, поведінкові особливості)?"
                  v-model="expectations_from_child"
                  :class="{'alert-border': errors['expectations_from_child']}"
        ></textarea>
        <span class="error-form" v-for="err in errors.expectations_from_child">[[ err ]]</span>
        <h3>13.1. За яким напрямком наставництва ви би бажали допомагати дитині?</h3>
        <div class="page-form-wrapp">
          <div class="page-form-choice">
            <input class="with-font" id="1" type="checkbox" v-model="socialization" :class="{'alert-border': errors['socialization']}">
            <label class="page-form-choice-name" for="1">Напрям «Соціалізація»</label>
          </div>
          <span class="error-form" v-for="err in errors.socialization">[[ err ]]</span>
          <div class="page-form-choice">
            <input class="with-font" id="2" type="checkbox" v-model="proforientation" :class="{'alert-border': errors['proforientation']}">
            <label class="page-form-choice-name" for="2">Напрям «Профорієнтація»</label>
          </div>
          <span class="error-form" v-for="err in errors.proforientation">[[ err ]]</span>
          <div class="page-form-choice">
            <input class="with-font" id="3" type="checkbox" v-model="help_in_education" :class="{'alert-border': errors['help_in_education']}">
            <label class="page-form-choice-name" for="3">Напрям «Допомога в навчанні»</label>
          </div>
          <span class="error-form" v-for="err in errors.help_in_education">[[ err ]]</span>
        </div>
        <h3>13.2. Як часто ви можете відвідувати дитину в закладі?</h3>
        <div class="page-form-wrapp" :class="{'alert-border': errors['able_to_visit_frequency']}">
          <label class="form-check" v-for="key, value in choices.able_to_visit_child_frequency">
            <input type="radio" :value="value" v-model="able_to_visit_frequency">
            <span class="form-check-label-md">[[ key ]]</span>
          </label>
          <span class="error-form" v-for="err in errors.able_to_visit_frequency">[[ err ]]</span>
        </div>
        <span class="error-form" v-for="err in errors.able_to_visit_child_frequency">[[ err ]]</span>
        <h3>13.3. Чи згодні ви взаємодіяти з дитиною, яка має інвалідність?</h3>
        <div class="page-form-wrapp">
          <div class="page-form-check" :class="{'alert-border': errors['ready_for_child_with_disabilities']}">
            <label class="form-check">
              <input type="radio" value="Yes" v-model="ready_for_child_with_disabilities"><span class="form-check-label-md">Так</span>
            </label>
            <label class="form-check">
              <input type="radio" value="No" v-model="ready_for_child_with_disabilities"><span class="form-check-label-md">Hi</span>
            </label>
          </div>
          <span class="error-form" v-for="err in errors.ready_for_child_with_disabilities">[[ err ]]</span>
        </div>
        <h3>14. З метою дотримання прав та інтересів дитини (серед іншого її безпеки і здорового розвитку),<br>ми просимо вас повідомити нам таке:</h3>
        <h3>14.1. Чи вживаєте ви:</h3>
        <div class="page-form-wrapp">
          <p>- Алкоголь</p>
          <div class="page-form-wrapp-item" :class="{'alert-border': errors['drink_alcohol']}">
            <label class="form-check">
              <input type="radio" value="Yes" v-model="drink_alcohol"><span class="form-check-label-md">Так</span>
            </label>
            <label class="form-check">
              <input type="radio" value="No" v-model="drink_alcohol"><span class="form-check-label-md">Hi</span>
            </label>
          </div>
          <span class="error-form" v-for="err in errors.drink_alcohol">[[ err ]]</span>
          <span>Якщо так, вкажіть, як часто?</span>
          <input type="text" v-model="drink_alcohol_frequency" :class="{'alert-border': errors['drink_alcohol_frequency']}">
          <span class="error-form" v-for="err in errors.drink_alcohol_frequency">[[ err ]]</span>
          <p>- Тютюнові вироби
            <div class="page-form-wrapp-item" :class="{'alert-border': errors['smoke_cigarettes']}">
              <label class="form-check">
                <input type="radio" value="Yes" v-model="smoke_cigarettes"><span class="form-check-label-md">Так</span>
              </label>
              <label class="form-check">
                <input type="radio" value="No" v-model="smoke_cigarettes"><span class="form-check-label-md">Hi</span>
              </label>
            </div>
            <span class="error-form" v-for="err in errors.smoke_cigarettes">[[ err ]]</span>
          </p>
          <p>- Психотропні речовини
            <div class="page-form-wrapp-item" :class="{'alert-border': errors['psychotropic_substances']}">
              <label class="form-check">
                <input type="radio" value="Yes" v-model="psychotropic_substances"><span class="form-check-label-md">Так</span>
              </label>
              <label class="form-check">
                <input type="radio" value="No" v-model="psychotropic_substances"><span class="form-check-label-md">Hi</span>
              </label>
            </div>
            <span>Якщо так, вкажіть, як часто?</span>
            <input type="text" v-model="psychotropic_substances_names" :class="{'alert-border': errors['psychotropic_substances_names']}">
            <span class="error-form" v-for="err in errors.psychotropic_substances_names">[[ err ]]</span>
          </p>
        </div>
        <h3>14.2. Чи вживали ви наркотики?</h3>
        <div class="page-form-wrapp">
          <div class="page-form-wrapp-item" :class="{'alert-border': errors['drug_usage_info']}">
            <label class="form-check">
              <input type="radio" value="Yes" v-model="drug_usage"><span class="form-check-label-md">Так</span>
            </label>
            <label class="form-check">
              <input type="radio" value="No" v-model="drug_usage"><span class="form-check-label-md">Hi</span>
            </label>
          </div>
          <span>Якщо так, вкажіть, як часто?</span>
          <input type="text" v-model="drug_usage_info" :class="{'alert-border': errors['drug_usage_info']}">
          <span class="error-form" v-for="err in errors.drug_usage_info">[[ err ]]</span>
        </div>
        <h3>14.3. Чи були ви засуджені за злочини, пов’язані з приниженням людської гідності,<br>залученням дітей до незаконної діяльності, жорстоким поводженням з дітьми,<br>сексуальними посяганнями будь-якого роду, зневагою дитини тощо?</h3>
        <div class="page-form-wrapp">
          <div class="page-form-wrapp-item" :class="{'alert-border': errors['crime_convicted']}">
            <label class="form-check">
              <input type="radio" value="Yes" v-model="crime_convicted"><span class="form-check-label-md">Так</span>
            </label>
            <label class="form-check">
              <input type="radio" value="No" v-model="crime_convicted"><span class="form-check-label-md">Hi</span>
            </label>
          </div>
          <span>Якщо так, будь ласка, поясніть</span>
          <input type="text" v-model="crime_convicted_description" :class="{'alert-border': errors['crime_convicted_description']}">
          <span class="error-form" v-for="err in errors.crime_convicted_description">[[ err ]]</span>
        </div>
        <h3>14.4. Чи були ви раніше позбавлені батьківських або опікунських прав?</h3>
        <div class="page-form-wrapp">
          <div class="page-form-wrapp-item" :class="{'alert-border': errors['parental_rights_deprived']}">
            <label class="form-check">
              <input type="radio" value="Yes" v-model="parental_rights_deprived"><span class="form-check-label-md">Так</span>
            </label>
            <label class="form-check">
              <input type="radio" value="No" v-model="parental_rights_deprived" checked="checked"><span class="form-check-label-md">Hi</span>
            </label>
            <span class="error-form" v-for="err in errors.parental_rights_deprived">[[ err ]]</span>
          </div>
          <span>Якщо так, будь ласка, конкретизуйте</span>
          <input type="text" v-model="parental_rights_deprived_description" :class="{'alert-border': errors['parental_rights_deprived_description']}">
          <span class="error-form" v-for="err in errors.parental_rights_deprived_description">[[ err ]]</span>
        </div>
        <h3>15. Чи дозволяєте ви використовувати ваші фотографії і коментарі, зроблені в процесі вашої<br>участі в програмі, на інформаційних носіях, з метою популяризації ідеї наставництва?</h3>
        <div class="page-form-wrapp">
          <div class="page-form-wrapp-item">
            <label class="form-check" :class="{'alert-border': errors['allow_to_use_personal_data']}">
              <input type="radio" value="Yes" v-model="allow_to_use_personal_data"><span class="form-check-label-md">Так</span>
            </label>
            <label class="form-check">
              <input type="radio" value="No" v-model="allow_to_use_personal_data" checked="checked"><span class="form-check-label-md">Hi</span>
            </label>
            <span class="error-form" v-for="err in errors.allow_to_use_personal_data">[[ err ]]</span>
          </div>
        </div>
        <h3>16. Звідки ви дізналися про програму наставництва?</h3>
        <div class="page-form-select">
          <select v-model="program_found_out_place" :class="{'alert-border': errors['program_found_out_place']}">
            <option></option>
            <option v-for="key, value in choices.mentoring_program_find_out_places" :value="value">
              [[ key ]]
            </option>
          </select>
          <span class="error-form" v-for="err in errors.program_found_out_place">[[ err ]]</span>
        </div>
        <h3>17. В який робочий день та час Вам зручніше всього прийти на консультацію з психологом<br>Центру соціальних служб або Партнерської організації?</h3>
        <div class="page-form-wrapp">
          <input type="text" v-model="convenient_meeting_conditions" :class="{'alert-border': errors['convenient_meeting_conditions']}">
          <span class="error-form" v-for="err in errors.convenient_meeting_conditions">[[ err ]]</span>
        </div>
        <button type="button" @click="submitForm">Зберегти</button>
        <span class="error-form" v-if="hasErrors">Увага! Є помилки в заповненні, або наявні незаповнені обов'язкові поля.<br>Будь ласка поверніться до початку анкети.</span>
      </div>
    </section>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'scripts/signup_step2.js' %}"></script>
{% endblock %}
