{% extends 'base.html' %}

{% block content %}
  <div class="content">
    <section class="register-new">
      <div class="container">
        <div class="register-new-wrapp">
          <div class="register-new-content">
            <h3><span>Реєстрація</span><br> Перший крок</h3>
            <div class="register-new-form">
              <form method="post">
                {% csrf_token %}

                {% for err in form.non_field_errors %}
                  <span class="error-form">{{ err }}</span>
                {% endfor %}

                <input type="text"
                       name="{{ form.email.html_name }}"
                       id="{{ form.email.auto_id }}"
                       value="{{ form.email.value }}"
                       placeholder="User@gmail.com"
                       autofocus
                       required
                >
                {% for err in form.email.errors %}
                  <span class="error-form">{{ err }}</span>
                {% endfor %}

                <input type="password"
                       name="{{ form.password1.html_name }}"
                       id="{{ form.password1.auto_id }}"
                       placeholder="Пароль"
                       required
                >
                {% for err in form.password1.errors %}
                  <span class="error-form">{{ err }}</span>
                {% endfor %}

                <input type="password"
                       name="{{ form.password2.html_name }}"
                       id="{{ form.password2.auto_id }}"
                       placeholder="Підтвердіть пароль"
                       required
                >
                {% for err in form.password2.errors %}
                  <span class="error-form">{{ err }}</span>
                {% endfor %}

                <button type="submit">Далі</button>
                <div class="register-new-line"></div><a href="#">Забули свій пароль?</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}