{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div class="content">
    <section class="page-form" id="step2-form">
      <div class="container">
        <div class="page-form-title">
          <h2>Давай знайомитися!</h2>
          <p>Заповни обов’язкову анкету кандидата в наставники</p><span>Велике прохання заповнити всі графи анкети, даючи найбільш повні відповіді на запитання.<br>Це допоможе краще здійснити взаємодобір пари «дитина-наставник»</span>
        </div>
        <form action="">
          <h3>1. Загальні відомості:</h3>
          <div class="page-form-register">
            <div class="page-form-register-left">
              <span>ПІБ</span>
              <input type="text" v-model="full_name">
              <span>Дата народження та ваш вік</span>
              <input type="text" v-model="date_of_birth">
              <span>Контактний телефон</span>
              <input type="text" v-model="phone_number">
              <span>Електронна адреса</span>
              <input type="email" v-model="email">
            </div>
            <div class="page-form-register-right">
              <span>Національність/Громадянство</span>
              <input type="text" v-model="nationality">
              <span>Адреса фактичного місця проживання</span>
              <input type="text" v-model="actual_address">
              <span>Адреса реєстрації</span>
              <input type="text" v-model="registration_address">
              <span>Віросповідання</span>
              <select v-model="religion">
                <option v-for="key, value in choices.religions" :value="value">
                  [[ key ]]
                </option>
              </select>
              <div class="page-form-register-religion">
                <span>Яку міську церкву ви відвідуєте?</span>
                <input type="text" v-model="local_church_visiting">
                <span>Як часто?</span>
                <select v-model="local_church_visiting_frequency">
                  <option></option>
                  <option v-for="key, value in choices.local_church_visiting_frequency" :value="value">
                    [[ key ]]
                  </option>
                </select>
              </div>
            </div>
          </div>
          <h3>2. Стан здоров’я:</h3>
          <div class="page-form-health">
            <span>Як Ви оцінюєте свій стан здоров’я?</span>
            <input type="text" v-model="health_self_estimation">
            <span>Чи маєте Ви серйозні захворювання?</span>
            <div class="page-form-check">
              <label class="form-check">
                <input type="radio" value="Yes" v-model="serious_diseases"><span class="form-check-label-md">Так</span>
              </label>
              <label class="form-check">
                <input type="radio" checked="checked" value="No" v-model="serious_diseases"><span class="form-check-label-md">Hi</span>
              </label>
            </div><span>Чи перебуваєте Ви на обліку:</span>
            <div class="page-form-symptom">
              <div class="page-form-symptom-item">
                <p>Нарколога</p>
                <div class="page-form-check-symptom">
                  <label class="form-check">
                    <input type="radio" value="Yes" v-model="narcologist"><span class="form-check-label-sm">Так</span>
                  </label>
                  <label class="form-check">
                    <input type="radio" value="No" v-model="narcologist" checked="checked"><span class="form-check-label-sm">Hi</span>
                  </label>
                </div>
              </div>
              <div class="page-form-symptom-item">
                <p>Психіатра</p>
                <div class="page-form-check-symptom">
                  <label class="form-check">
                    <input type="radio" value="Yes" v-model="psychiatrist"><span class="form-check-label-sm">Так</span>
                  </label>
                  <label class="form-check">
                    <input type="radio" value="No" v-model="psychiatrist" checked="checked"><span class="form-check-label-sm">Hi</span>
                  </label>
                </div>
              </div>
              <div class="page-form-symptom-item">
                <p>Фтизіатра</p>
                <div class="page-form-check-symptom">
                  <label class="form-check">
                    <input type="radio" value="Yes" v-model="phthisiatrician"><span class="form-check-label-sm">Так</span>
                  </label>
                  <label class="form-check">
                    <input type="radio" value="No" v-model="phthisiatrician" checked="checked"><span class="form-check-label-sm">Hi</span>
                  </label>
                </div>
              </div>
              <div class="page-form-symptom-item">
                <p>Терапевта</p>
                <div class="page-form-check-symptom">
                  <label class="form-check">
                    <input type="radio" value="Yes" v-model="therapist"><span class="form-check-label-sm">Так</span>
                  </label>
                  <label class="form-check">
                    <input type="radio" value="No" v-model="therapist" checked="checked"><span class="form-check-label-sm">Hi</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="page-form-symptom">
              <div class="page-form-symptom-item-new">
                <p>Дерматовенеролога</p>
                <div class="page-form-check-symptom-new">
                  <label class="form-check">
                    <input type="radio" value="Yes" v-model="dermatovenereologist"><span class="form-check-label-sm">Так</span>
                  </label>
                  <label class="form-check">
                    <input type="radio" value="No" v-model="dermatovenereologist" checked="checked"><span class="form-check-label-sm">Hi</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="blue-title">* Якщо так, то вкажіть назву медичної установи, термін перебування</div>
            <input class="blue-title-input" type="text" v-model="hospital_data">
            <span>Чи є Ви ВІЛ-інфікованим?
              <div class="page-form-check">
                <label class="form-check">
                  <input type="radio" value="Yes" v-model="hiv_infected"><span class="form-check-label-md">Так</span>
                </label>
                <label class="form-check">
                  <input type="radio" value="No" v-model="hiv_infected" checked="checked"><span class="form-check-label-md">Hi</span>
                </label>
              </div>
            </span>
          </div>
          <div class="page-form-work">
            <h3>3. Освіта:</h3>
            <a href="javascript: void(0)" @click="addEducationObject">
              <i class="fas fa-plus"></i><span>Додати таблицю</span>
            </a>
          </div>
          <div class="page-form-education">
            <div class="table-education">
              <div class="table-education-header">
                <div class="table-education-main">Освіта</div>
                <div class="table-line"></div>
                <div class="table-education-start">Рік вступу</div>
                <div class="table-line"></div>
                <div class="table-education-end">Рік закінчення</div>
                <div class="table-line"></div>
                <div class="table-education-special">Отримана спеціальність, ступінь або інша кваліфікація</div>
              </div>
              <div class="table-education-line" v-for="institution, index in educations">
                <div class="table-education-name" v-if="index < 3">
                  [[ getInstitutionName(institution.education_type) ]]
                </div>
                <div class="table-education-name" v-else>
                  <select v-model="institution.education_type">
                    <option v-for="key, value in choices.education_types" :value="value">
                      [[ key ]]
                    </option>
                  </select>
                </div>
                <div class="table-education-input">
                  <input type="text" v-model="institution.year_of_admission">
                </div>
                <div class="table-education-input">
                  <input type="text" v-model="institution.year_of_graduation">
                </div>
                <div class="table-education-input-last">
                  <input type="text" v-model="institution.degree">
                </div>
              </div>
            </div>
          </div>
          <div class="page-form-work">
            <h3>4. Працевлаштування:</h3>
            <a href="javascript: void(0)" @click="addJobObject"><i class="fas fa-plus"></i><span>Додати таблицю</span></a>
          </div>
          <div class="table-work" v-for="job in jobs">
            <div class="table-work-header">
              <div class="table-work-main" v-if="job.is_current">Місце роботи на цей момент</div>
              <div class="table-work-main" v-else>Місце попередньої роботи</div>
              <div class="table-line"></div>
              <div class="table-work-start">З (місяць, рік)</div>
              <div class="table-work-line-vert"></div>
              <div class="table-work-end">До (місяць, рік)</div>
              <div class="table-line"></div>
              <div class="table-work-info">Контактна інформація (телефон, адреса)</div>
            </div>
            <div class="table-work-line">
              <div class="table-work-input-main">
                <input type="text" placeholder="Введіть назву організації" v-model="job.organization_name">
              </div>
              <div class="table-work-input-start">
                <input type="text" v-model="job.date_since">
              </div>
              <div class="table-work-input-end">
                <input type="text" v-model="job.date_till">
              </div>
              <div class="table-work-input-info">
                <input type="text" v-model="job.contact_info">
              </div>
            </div>
            <div class="table-work-header">
              <div class="table-work-left">Посада</div>
              <div class="table-line"></div>
              <div class="table-work-top">Виконувані обов’язки</div>
              <div class="table-line"></div>
              <div class="table-work-right">Причина звільнення</div>
            </div>
            <div class="table-work-line">
              <div class="table-work-input-left">
                <input type="text" v-model="job.position">
              </div>
              <div class="table-work-input-top">
                <input type="text" v-model="job.duties">
              </div>
              <div class="table-work-input-right">
                <input type="text" v-model="job.reason_for_leaving">
              </div>
            </div>
          </div>
        </form>
        <h3>5. Інтереси, хобі</h3>
        <div class="page-form-hobby">
          <textarea rows="3" placeholder="Чим ви любите займатися на дозвіллі?" v-model="interests_and_hobbies"></textarea>
        </div>
        <h3>6. Сімейний стан:</h3>
        <div class="page-form-family"><span>Оберіть Ваш сімейний стан</span>
          <select v-model="marital_status">
            <option></option>
            <option v-for="key, value in choices.marital_statuses" :value="value">
              [[ key ]]
            </option>
          </select>
        </div>
        <div class="page-form-family-main">
          <span>* Будь ласка, вкажіть членів вашої сім’ї</span>
          <a href="javascript: void(0)" @click="addFamilyMemberObject"><i class="fas fa-plus"></i><span>Додати таблицю</span></a></div>
        <div class="table-family">
          <div class="table-family-header">
            <div class="table-family-title">Ім’я</div>
            <div class="table-line"></div>
            <div class="table-family-title">Стать</div>
            <div class="table-line"></div>
            <div class="table-family-title">Вік</div>
            <div class="table-line"></div>
            <div class="table-family-title">Характер сімейних стосунків<br>(мати, сестра, син тощо)</div>
          </div>
          <div class="table-family-line" v-for="member in family_members">
            <div class="table-family-input">
              <input type="text" v-model="member.name">
            </div>
            <div class="table-family-input">
              <input type="text" v-model="member.gender">
            </div>
            <div class="table-family-input">
              <input type="text" v-model="member.date_of_birth">
            </div>
            <div class="table-family-input">
              <input type="text" v-model="member.relation">
            </div>
          </div>
        </div>
        <h3>7. Житлово-побутові умови:</h3>
        <div class="page-form-home">
          <p>* Заповніть пункт 7, якщо передбачається відвідування вихованцем вашої домівки</p><span>Вкажіть, де Ви проживаєте на цей момент</span>
          <select v-model="home_type">
            <option></option>
            <option v-for="key, value in choices.home_types" :value="value">
              [[ key ]]
            </option>
          </select>
          <div class="page-form-room">
            <div class="page-form-room-item"><span> Кількість кімнат</span>
              <input type="text" v-model="room_count">
            </div>
            <div class="page-form-room-item"><span> Кількість осіб, які проживають в одній кімнаті</span>
              <input type="text" v-model="people_per_room">
            </div>
          </div><span class="page-form-room-name">Інформація про інших членів сім’ї, які проживають разом із вами<br>(ПІБ, вік, сімейні стосунки)</span>
          <textarea class="page-form-room-input" rows="3" v-model="home_family_members_data"></textarea><span class="page-form-room-name">Чи є у вас домашні тварини? (Якщо так, то які саме?)</span>
          <textarea class="page-form-room-input" rows="3" v-model="pets_data"></textarea>
        </div>
        <h3>8. Досвід роботи з дітьми:</h3>
        <div class="page-form-child-main">
          <span>* Будь ласка, вкажіть ваш поточний і попередній досвід роботи з дітьми<br>(оплачувана робота, волонтерська діяльність тощо)</span>
          <a href="javascript: void(0)" @click="addChildrenWorkExperienceObject"><i class="fas fa-plus"></i><span>Додати таблицю</span></a></div>
        <div class="table-child" v-for="exp in children_work_experiences">
          <div class="table-child-header">
            <div class="table-child-main">Назва організації</div>
            <div class="table-line"></div>
            <div class="table-child-start">З (місяць, рік)</div>
            <div class="table-child-line-vert"></div>
            <div class="table-child-end">До (місяць, рік)</div>
            <div class="table-line"></div>
            <div class="table-child-info">Контактна інформація (телефон, адреса)</div>
          </div>
          <div class="table-child-line">
            <div class="table-child-input-main">
              <input type="text" v-model="exp.organization_name">
            </div>
            <div class="table-child-input-start">
              <input type="text" v-model="exp.date_since">
            </div>
            <div class="table-child-input-end">
              <input type="text" v-model="exp.date_till">
            </div>
            <div class="table-child-input-info">
              <input type="text" v-model="exp.contact_info">
            </div>
          </div>
          <div class="table-child-header">
            <div class="table-child-left">Посада</div>
            <div class="table-line"></div>
            <div class="table-child-top">Виконувані обов’язки</div>
            <div class="table-line"></div>
            <div class="table-child-right">Вікова група дітей</div>
          </div>
          <div class="table-child-line">
            <div class="table-child-input-left">
              <input type="text" v-model="exp.position">
            </div>
            <div class="table-child-input-top">
              <input type="text" v-model="exp.duties">
            </div>
            <div class="table-child-input-right">
              <input type="text" v-model="exp.children_age_group">
            </div>
          </div>
        </div>
        <h3>9. Чому ви хочете стати наставником?</h3>
        <textarea class="page-form-input" rows="3" v-model="join_reason"></textarea>
        <h3>10. Які якості вашого характеру, особливі знання, навички тощо, можуть, на вашу думку,<br>допомогти становленню та розвитку дитини із закладу?</h3>
        <textarea class="page-form-input" rows="3" v-model="helpful_specifics"></textarea>
        <h3>11. Як би ви описали (охарактеризували) самі себе?</h3>
        <textarea class="page-form-input" rows="3" v-model="self_char"></textarea>
        <h3>12. Чому ви хочете допомагати дитині-сироті?</h3>
        <textarea class="page-form-input" rows="3" v-model="want_to_help_reason"></textarea>
        <h3>13. Які ваші очікування від дитини, з якою ви хочете взаємодіяти?</h3>
        <textarea class="page-form-input"
                  rows="3"
                  placeholder="Вік, стать, наскільки важливим для вас є характер дитини (зовнішній вигляд, поведінкові особливості)?"
                  v-model="expectations_from_child"
        ></textarea>
        <h3>13.1. За яким напрямком наставництва ви би бажали допомагати дитині?</h3>
        <div class="page-form-wrapp">
          <div class="page-form-choice">
            <input class="with-font" id="1" type="checkbox" v-model="socialization">
            <label class="page-form-choice-name" for="1">Напрям «Соціалізація»</label>
          </div>
          <div class="page-form-choice">
            <input class="with-font" id="2" type="checkbox" v-model="proforientation">
            <label class="page-form-choice-name" for="2">Напрям «Профорієнтація»</label>
          </div>
          <div class="page-form-choice">
            <input class="with-font" id="3" type="checkbox" v-model="help_in_education">
            <label class="page-form-choice-name" for="3">Напрям «Допомога в навчанні»</label>
          </div>
        </div>
        <h3>13.2. Як часто ви можете відвідувати дитину в закладі?</h3>
        <div class="page-form-wrapp">
          <label class="form-check" v-for="key, value in choices.able_to_visit_child_frequency">
            <input type="radio" :value="value" v-model="able_to_visit_frequency">
            <span class="form-check-label-md">[[ key ]]</span>
          </label>
        </div>
        <h3>13.3. Чи згодні ви взаємодіяти з дитиною, яка має інвалідність?</h3>
        <div class="page-form-wrapp">
          <div class="page-form-check">
            <label class="form-check">
              <input type="radio" value="Yes" v-model="ready_for_child_with_disabilities"><span class="form-check-label-md">Так</span>
            </label>
            <label class="form-check">
              <input type="radio" value="No" v-model="ready_for_child_with_disabilities"><span class="form-check-label-md">Hi</span>
            </label>
          </div>
        </div>
        <h3>14. З метою дотримання прав та інтересів дитини (серед іншого її безпеки і здорового розвитку),<br>ми просимо вас повідомити нам таке:</h3>
        <h3>14.1. Чи вживаєте ви:</h3>
        <div class="page-form-wrapp">
          <p>- Алкоголь</p>
          <div class="page-form-wrapp-item">
            <label class="form-check">
              <input type="radio" value="Yes" v-model="drink_alcohol"><span class="form-check-label-md">Так</span>
            </label>
            <label class="form-check">
              <input type="radio" value="No" v-model="drink_alcohol"><span class="form-check-label-md">Hi</span>
            </label>
          </div>
          <span>Якщо так, вкажіть, як часто?</span>
          <input type="text" v-model="drink_alcohol_frequency">
          <p>- Тютюнові вироби
            <div class="page-form-wrapp-item">
              <label class="form-check">
                <input type="radio" value="Yes" v-model="smoke_cigarettes"><span class="form-check-label-md">Так</span>
              </label>
              <label class="form-check">
                <input type="radio" value="No" v-model="smoke_cigarettes"><span class="form-check-label-md">Hi</span>
              </label>
            </div>
          </p>
          <p>- Психотропні речовини
            <div class="page-form-wrapp-item">
              <label class="form-check">
                <input type="radio" value="Yes" v-model="psychotropic_substances"><span class="form-check-label-md">Так</span>
              </label>
              <label class="form-check">
                <input type="radio" value="No" v-model="psychotropic_substances"><span class="form-check-label-md">Hi</span>
              </label>
            </div>
            <span>Якщо так, вкажіть, як часто?</span>
            <input type="text" v-model="psychotropic_substances_names">
          </p>
        </div>
        <h3>14.2. Чи вживали ви наркотики?</h3>
        <div class="page-form-wrapp">
          <div class="page-form-wrapp-item">
            <label class="form-check">
              <input type="radio" value="Yes" v-model="drug_usage"><span class="form-check-label-md">Так</span>
            </label>
            <label class="form-check">
              <input type="radio" value="No" v-model="drug_usage"><span class="form-check-label-md">Hi</span>
            </label>
          </div><span>Якщо так, вкажіть, як часто?</span>
          <input type="text" v-model="drug_usage_info">
        </div>
        <h3>14.3. Чи були ви засуджені за злочини, пов’язані з приниженням людської гідності,<br>залученням дітей до незаконної діяльності, жорстоким поводженням з дітьми,<br>сексуальними посяганнями будь-якого роду, зневагою дитини тощо?</h3>
        <div class="page-form-wrapp">
          <div class="page-form-wrapp-item">
            <label class="form-check">
              <input type="radio" value="Yes" v-model="crime_convicted"><span class="form-check-label-md">Так</span>
            </label>
            <label class="form-check">
              <input type="radio" value="No" v-model="crime_convicted"><span class="form-check-label-md">Hi</span>
            </label>
          </div><span>Якщо так, будь ласка, поясніть</span>
          <input type="text" v-model="crime_convicted_description">
        </div>
        <h3>14.4. Чи були ви раніше позбавлені батьківських або опікунських прав?</h3>
        <div class="page-form-wrapp">
          <div class="page-form-wrapp-item">
            <label class="form-check">
              <input type="radio" value="Yes" v-model="parental_rights_deprived"><span class="form-check-label-md">Так</span>
            </label>
            <label class="form-check">
              <input type="radio" value="No" v-model="parental_rights_deprived" checked="checked"><span class="form-check-label-md">Hi</span>
            </label>
          </div>
          <span>Якщо так, будь ласка, конкретизуйте</span>
          <input type="text" v-model="parental_rights_deprived_description">
        </div>
        <h3>15. Чи дозволяєте ви використовувати ваші фотографії і коментарі, зроблені в процесі вашої<br>участі в програмі, на інформаційних носіях, з метою популяризації ідеї наставництва?</h3>
        <div class="page-form-wrapp">
          <div class="page-form-wrapp-item">
            <label class="form-check">
              <input type="radio" value="Yes" v-model="allow_to_use_personal_data"><span class="form-check-label-md">Так</span>
            </label>
            <label class="form-check">
              <input type="radio" value="No" v-model="allow_to_use_personal_data" checked="checked"><span class="form-check-label-md">Hi</span>
            </label>
          </div>
        </div>
        <h3>16. Звідки ви дізналися про програму наставництва?</h3>
        <div class="page-form-select">
          <select v-model="program_found_out_place">
            <option></option>
            <option v-for="key, value in choices.mentoring_program_find_out_places" :value="value">
              [[ key ]]
            </option>
          </select>
        </div>
        <h3>17. В який робочий день та час Вам зручніше всього прийти на консультацію з психологом<br>Центру соціальних служб або Партнерської організації?</h3>
        <div class="page-form-wrapp">
          <input type="text" v-model="program_found_out_place">
        </div>
        <button type="button" @click="submitForm">Зберегти</button>
      </div>
    </section>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'scripts/signup_step2.js' %}"></script>
{% endblock %}
