{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="content">
    <section class="register">
      <div class="container">
        <h2> Реєструйся в наставництві</h2>
        <div class="register-wrapp">
          <div class="register-block-left"><img src="{% static 'img/baby.jpg' %}" alt="">
            <p>в інтернатних закладах<br>україни перебуває</p><span>105 703 дітей</span>
          </div>
          <div class="register-block-center"><img src="{% static 'img/parrent.jpg' %}" alt="">
            <div class="main-mentor-interactiv-item">
              <div class="wrapp-numb">
                <div class="numb">0</div>
                <div class="numb">0</div>
                <div class="numb">4</div>
                <div class="numb">7</div>
              </div>
            </div><span>Дітей мають наставників</span>
          </div>
          <div class="register-block-right">
            <form method="post">
              {% csrf_token %}
              {% if form.non_field_errors %}
                <div class="non-field-errors">
                  {% for err in form.non_field_errors %}
                    <p class="form-error">{{ err }}</p>
                  {% endfor %}
                </div>
              {% endif %}

              <input type="text"
                     name="{{ form.first_name.html_name }}"
                     id="{{ form.first_name.auto_id }}"
                     placeholder="Ім’я"
                     autofocus
                     required
              >
              {{ form.first_name.errors }}

              <input type="text"
                     name="{{ form.last_name.html_name }}"
                     id="{{ form.last_name.auto_id }}"
                     placeholder="Прізвище"
                     required
              >
              {{ form.last_name.errors }}

              <input type="text"
                     name="{{ form.email.html_name }}"
                     id="{{ form.email.auto_id }}"
                     placeholder="Email"
                     required
              >
              {{ form.email.errors }}

              <input type="text"
                     name="{{ form.phone_number.html_name }}"
                     id="{{ form.phone_number.auto_id }}"
                     placeholder="Телефон"
                     required
              >
              {{ form.phone_number.errors }}

              <button type="submit">Реєстрація</button>
              <a href="#">Реєстрація через Facebook</a>
              <div class="register-line"></div><span>Маєте акаунт?<a href="">Увійдіть</a></span>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}