{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
  <div class="content">
    <section class="css-register">
      <div class="container">
        {% if validlink %}
          <h3>Зміна пароля</h3>
          <div class="css-register-form" style="display: table; margin: 0 auto;">
            <form method="post">
              {% csrf_token %}
              {% for field in form %}
                {% render_field field placeholder=field.label %}
              {% endfor %}
              <ul style="list-style-type: none; text-align: right; margin-top: 20px">
                {% for field in form %}
                  {% for error in field.errors %}
                    <li style="color: red">{{ error }}</li>
                  {% endfor %}
                {% endfor %}
              </ul>
              <button type="submit" class="btn btn-primary">Змінити пароль</button>
            </form>
          </div>
        {% else %}
          <p>
            Посилання для зміни пароля було недійсним, можливо, тому що його вже було використано.
                                    <br>Будь ласка, здійсніть нове відновлення пароля.
          </p>
        {% endif %}
      </div>
    </section>
  </div>
{% endblock %}