{% extends 'social_services/ssc_base.html' %}
{% load widget_tweaks %}

{% block content %}
    {% include 'social_services/ssc_header.html' %}

    <div class="content">
        <section class="css-register">
            <div class="container">
                        <h3><span>Відновлення пароля</span>
                            <br> Перший крок</h3>
                        <div class="css-register-form">
                            <form method="post">
                                {% csrf_token %}
                                {% render_field form.email placeholder='Email' %}
                                <button type="submit" class="btn btn-primary">Далі</button>
                            </form>
                        </div>
            </div>
        </section>
      </div>

{% endblock %}