{% extends 'social_services/ssc_base.html' %}

{% block content %}
    {% include 'social_services/ssc_header.html' %}

    <div class="content">
        <section class="css-register">
            <div class="container">
                        <p>
                            Ми надіслали вам інструкції щодо налаштування пароля,
                            якщо існує обліковий запис із введеною вами електронною адресою.
                            Ви повинні отримати їх незабаром.
                        </p>
                        <p>
                            Якщо ви не отримали електронний лист, переконайтеся, що ввели зареєстровану адресу
                            і перевірте папку зі спамом.
                        </p>
            </div>
        </section>
    </div>

{% endblock %}