{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
  <div class="content">
    <section class="css-register">
      <div class="container">
        <h3><span>Відновлення пароля</span>
          <br> Перший крок</h3>
        <div class="css-register-form" style="display: table; margin: 0 auto;">
          <form method="post">
            {% csrf_token %}
            {% render_field form.email placeholder='Email' %}
            <button type="submit" class="btn btn-primary" style="background: #368CCA">Далі</button>
          </form>
        </div>
      </div>
    </section>
  </div>

{% endblock %}